Repository NoctuaLabs/noctua-native-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, bump-version-ios-sdk, publish-ios-sdk, build-android-sdk

Path conditions:
  test-android-sdk: any of: android/**/*
  bump-version-android-sdk: any of: android/**/*
  deploy-android-sdk: any of: android/**/*
  publish-android-sdk: (any of: android/**/*) or (any of: gitlab-ci.yml, android/sdk/**/*)
  bump-version-ios-sdk: any of: ios/**/*, NoctuaSDK.podspec
  publish-ios-sdk: any of: ios/**/*, NoctuaSDK.podspec
  build-android-sdk: any of: gitlab-ci.yml, android/sdk/**/*

Facebook: recheck platform specific config before init then pass the platform specific config as param.
  ios/NoctuaSDK/Sources/AdjustService.swift
  ios/NoctuaSDK/Sources/FacebookService.swift
  ios/NoctuaSDK/Sources/NoctuaPlugin.swift
Due: bump-version-ios-sdk, publish-ios-sdk

Firebase: recheck platform specific config before init then pass the platform specific config as param.
  ios/NoctuaSDK/Sources/FirebaseService.swift
  ios/NoctuaSDK/Sources/NoctuaPlugin.swift
Due: bump-version-ios-sdk, publish-ios-sdk

Fix log around custom event.
  ios/NoctuaSDK/Sources/AdjustService.swift
Due: bump-version-ios-sdk, publish-ios-sdk

Facebook and Firebase tracker: recheck platform specific config before init then pass the platform specific config as param.
  android/sdk/src/main/java/com/noctuagames/sdk/AdjustService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/FirebaseService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

Adjust tracker: recheck platform specific config before init then pass the platform specific config as param.
  ios/NoctuaSDK/Sources/AdjustService.swift
  ios/NoctuaSDK/Sources/NoctuaPlugin.swift
Due: bump-version-ios-sdk, publish-ios-sdk

Update on how to compare boolean.
  ios/NoctuaSDK/Sources/AdjustService.swift
Due: bump-version-ios-sdk, publish-ios-sdk

Facebook tracker: recheck platform specific config before init then pass the platform specific config as param.
  android/sdk/src/main/java/com/noctuagames/sdk/FacebookService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

Fix warning from XCode.
  ios/NoctuaSDK/Sources/AdjustService.swift
Due: bump-version-ios-sdk, publish-ios-sdk

Fix config object type for FacebookService init.
  ios/NoctuaSDK/Sources/FacebookService.swift
Due: bump-version-ios-sdk, publish-ios-sdk

feat: Add multiple plaftorm support for event tracker in noctuagg.json.
  README
Due: none

feat: Add multiple plaftorm support for event tracker in noctuagg.json.
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

bump version to 0.7.0 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.7.0
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release ios-sdk-v0.5.4
  NoctuaSDK.podspec
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

refactor: remove query all packages
  android/app/src/main/java/com/noctuagames/app/MainActivity.kt
  android/sdk/src/main/AndroidManifest.xml
  android/sdk/src/main/java/com/noctuagames/sdk/AccountRepository.kt
  android/sdk/src/main/java/com/noctuagames/sdk/AdjustService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/FacebookService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/FirebaseService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

bump version to 0.7.1 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.7.1
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

fix: reverse logic code environment mode adjust ios
  ios/NoctuaSDK/Sources/AdjustService.swift
Due: bump-version-ios-sdk, publish-ios-sdk

fix: change Purchase to purchase adjust ios
  ios/NoctuaSDK/Sources/AdjustService.swift
Due: bump-version-ios-sdk, publish-ios-sdk

refactor: refactor logic code environment check
  ios/NoctuaSDK/Sources/AdjustService.swift
Due: bump-version-ios-sdk, publish-ios-sdk

feat: unified config android
  android/sdk/src/main/java/com/noctuagames/sdk/AdjustService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/FacebookService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/FirebaseService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

bump version to 0.8.0 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

refactor: "Purchase" to "purchase" android
  android/sdk/src/main/java/com/noctuagames/sdk/AdjustService.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

Release ios-sdk-v0.5.5
  NoctuaSDK.podspec
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

Release android-sdk-v0.8.0
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

fix: Guard Adjust event map with null check.
  ios/NoctuaSDK/Sources/AdjustService.swift
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.5.6
  NoctuaSDK.podspec
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

Ignore error if the remote address is already exist.
  .gitlab-ci.yml
Due: none

Add comments to trigger fake commit.
  ios/NoctuaSDK/Sources/AdjustService.swift
Due: bump-version-ios-sdk, publish-ios-sdk

Bump to 0.5.6.
  NoctuaSDK.podspec
  ios/NoctuaSDK/Sources/AdjustService.swift
Due: bump-version-ios-sdk, publish-ios-sdk

fix: Add more null check guard for Adjust tracker.
  NoctuaSDK.podspec
  ios/NoctuaSDK/Sources/AdjustService.swift
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.5.7
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

fix: remove install conflict with other published game signed with different signature
  android/app/src/main/AndroidManifest.xml
  android/sdk/src/main/AndroidManifest.xml
  android/sdk/src/main/java/com/noctuagames/sdk/AccountRepository.kt
  android/sdk/src/main/java/com/noctuagames/sdk/AdjustService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/FacebookService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/FirebaseService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

bump version to 0.8.1 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.8.1
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

feat: Add support for FIrebase Cloud Messaging
  android/gradle/libs.versions.toml
  android/sdk/build.gradle.kts
  android/sdk/src/main/AndroidManifest.xml
  android/sdk/src/main/java/com/noctuagames/sdk/FirebaseService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
  android/sdk/src/main/java/com/noctuagames/sdk/NoctuaFirebaseMessagingService.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

bump version to 0.9.0 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.9.0
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

fix: use activity to ask permission instead of applicationContext
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

bump version to 0.9.1 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk
