Repository NoctuaLabs/noctua-native-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, bump-version-ios-sdk, publish-ios-sdk, build-android-sdk

test-android-sdk:
  image: cimg/android:2024.07.1
  stage: test
  script:
  - cd android
  - ./gradlew check

bump-version-android-sdk:
  image:
    name: alpine/git
    entrypoint:
    - ''
  before_script:
  - apk add git-cliff
  - git config --global user.email "gitlab-ci@noctua.gg"
  - git config --global user.name "Noctua Gitlab CI"
  stage: bump-version
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: 0
  script:
  - cd android
  ...

deploy-android-sdk:
  image: cimg/android:2024.07.1
  stage: deploy
  script:
  - git checkout $CI_COMMIT_BRANCH
  - cd android
  - ./gradlew :sdk:publishMavenPublicationToGitLabRepository

publish-android-sdk:
  image: cimg/android:2024.07.1
  stage: publish
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: 0
  script:
  - cd android
  - git fetch --tags
  - git checkout $CI_COMMIT_BRANCH
  - git pull
  - ./gradlew :sdk:publishAndReleaseToMavenCentral
  ...

bump-version-ios-sdk:
  image:
    name: alpine/git
    entrypoint:
    - ''
  before_script:
  - apk add git-cliff
  - git config --global user.email "gitlab-ci@noctua.gg"
  - git config --global user.name "Noctua Gitlab CI"
  stage: bump-version
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: 0
  script:
  - cd ios
  ...

publish-ios-sdk:
  stage: publish
  tags:
  - macmini
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: 0
  script:
  - cd ios
  - git fetch --tags
  - git checkout $CI_COMMIT_BRANCH
  - git pull
  - git clean -dxf
  - wget "https://github.com/orhun/git-cliff/releases/download/v2.4.0/git-cliff-2.4.0-x86_64-unknown-linux-gnu.tar.gz"
  ...

build-android-sdk:
  image: gitlab.com/evosverse/noctua/dependency_proxy/containers/cimg/android:2024.07.1
  before_script:
  - chmod +x gradlew
  stage: build
  script:
  - cd android
  - gradle :sdk:build

add pipiline for main-icm
  .gitlab-ci.yml
Due: none

feat: migrate adjust sdk code v4 to v5
  ios/NoctuaSDK/Sources/AdjustService.swift
  ios/Podfile
  ios/Podfile.lock
Due: bump-version-ios-sdk, publish-ios-sdk

fix: adjust signature framework not found
  NoctuaSDK.podspec
  ios/Podfile
  ios/Podfile.lock
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.21.1
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

fix: prevent requiring manual addition of Adjust signature to the framework
  NoctuaSDK.podspec
  ios/Podfile
Due: bump-version-ios-sdk, publish-ios-sdk

feat: add game id config
  ios/NoctuaSDK/Sources/NoctuaPlugin.swift
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.23.0
  NoctuaSDK.podspec
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

feat: add init koin manually
  android/gradle/libs.versions.toml
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

bump version to 0.17.0 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.17.0
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

fix: adjust signature is not loaded
  NoctuaSDK.podspec
  ios/NoctuaSDK/Sources/AdjustService.swift
  ios/Podfile
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.23.1
  NoctuaSDK.podspec
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

feat: Implement Firebase Remote Config.
  android/app/src/main/java/com/noctuagames/app/MainActivity.kt
  android/sdk/build.gradle.kts
  android/sdk/src/main/java/com/noctuagames/sdk/FirebaseService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

bump version to 0.18.0 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

feat: Implement Firebase Remote Config on iOS.
  .gitignore
  NoctuaSDK.podspec
  ios/.gitignore
  ios/NoctuaSDK/Sources/FirebaseService.swift
  ios/NoctuaSDK/Sources/Noctua.swift
  ios/NoctuaSDK/Sources/NoctuaPlugin.swift
  ios/NoctuaSDKExample/NoctuaSDKExample.xcodeproj/project.pbxproj
  ios/NoctuaSDKExample/NoctuaSDKExample/ContentView.swift
  ios/Podfile
  ios/Podfile.lock
Due: bump-version-ios-sdk, publish-ios-sdk

Release android-sdk-v0.18.0
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

misc: Bump podspec version to 0.24.0.
  NoctuaSDK.podspec
Due: bump-version-ios-sdk, publish-ios-sdk

feat: add function set session extra params
  android/app/src/main/java/com/noctuagames/app/MainActivity.kt
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

misc: update noctua internal sdk to 0.9.0
  android/gradle/libs.versions.toml
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

bump version to 0.19.0 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.19.0
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

fix force bump version ios
  .gitlab-ci.yml
Due: none

Release ios-sdk-v0.24.0
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

fix: error cannot find remoteConfig on pipeline
  ios/NoctuaSDK/Sources/FirebaseService.swift
Due: bump-version-ios-sdk, publish-ios-sdk

feat: update firebase to 12.2.0, adjust to 5.4.4, facebook to 18.0.1
  NoctuaSDK.podspec
Due: bump-version-ios-sdk, publish-ios-sdk

feat: enhance facebook ad revenue event name
  ios/NoctuaSDK/Sources/FacebookService.swift
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.23.0
  NoctuaSDK.podspec
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.23.1
  NoctuaSDK.podspec
Due: bump-version-ios-sdk, publish-ios-sdk

fix: downgrade facebook sdk to 8.0.0
  NoctuaSDK.podspec
Due: bump-version-ios-sdk, publish-ios-sdk

feat: update firebase remote config to 12.2.0
  NoctuaSDK.podspec
Due: bump-version-ios-sdk, publish-ios-sdk

misc: force bump version to 0.24.1 for icm version
  .gitlab-ci.yml
Due: none

fix: Return result via callback function to make it compatible with C# bridging.
  android/app/src/main/java/com/noctuagames/app/MainActivity.kt
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

bump version to 0.19.1 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Path conditions:
  test-android-sdk: any of: android/**/*
  bump-version-android-sdk: any of: android/**/*
  deploy-android-sdk: any of: android/**/*
  publish-android-sdk: (any of: android/**/*) or (any of: gitlab-ci.yml, android/sdk/**/*)
  bump-version-ios-sdk: any of: ios/**/*, NoctuaSDK.podspec
  publish-ios-sdk: any of: ios/**/*, NoctuaSDK.podspec
  build-android-sdk: any of: gitlab-ci.yml, android/sdk/**/*
