Repository NoctuaLabs/noctua-native-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

test-android-sdk:
  image: cimg/android:2024.07.1
  stage: test
  script:
  - cd android
  - ./gradlew check

bump-version-android-sdk:
  image:
    name: alpine/git
    entrypoint:
    - ''
  variables:
    GIT_STRATEGY: clone
    GIT_DEPTH: 0
  before_script:
  - apk add git-cliff
  - git config --global user.email "gitlab-ci@noctua.gg"
  - git config --global user.name "Noctua Gitlab CI"
  stage: bump-version
  script:
  - cd android
  ...

deploy-android-sdk:
  image: cimg/android:2024.07.1
  stage: deploy
  script:
  - git checkout $CI_COMMIT_BRANCH
  - cd android
  - ./gradlew :sdk:publishMavenPublicationToGitLabRepository

publish-android-sdk:
  image: cimg/android:2024.07.1
  stage: publish
  script:
  - cd android
  - ./gradlew :sdk:publishAndReleaseToMavenCentral
  - wget "https://github.com/orhun/git-cliff/releases/download/v2.4.0/git-cliff-2.4.0-x86_64-unknown-linux-gnu.tar.gz"
  - tar -xvf git-cliff-2.4.0-x86_64-unknown-linux-gnu.tar.gz
  ...

build-android-sdk:
  image: gitlab.com/evosverse/noctua/dependency_proxy/containers/cimg/android:2024.07.1
  before_script:
  - chmod +x gradlew
  stage: build
  script:
  - cd android
  - gradle :sdk:build

fix: remove static_framework definition so that SDK can be linked either dynamically or statically
  NoctuaSDK.podspec
Due: none

refactor!: change FacebookSDK to static framework
  NoctuaSDK.podspec
  ios/NoctuaSDKExample/NoctuaSDKExample/noctuagg.json
  ios/Podfile
  ios/Podfile.lock
Due: none

feat: add AccountRepository to sdk
  android/app/build.gradle.kts
  android/app/google-services.json
  android/app/src/androidTest/java/com/noctuagames/app/ExampleInstrumentedTest.kt
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/assets/noctuagg.json
  android/app/src/main/java/com/noctuagames/android/sdktest/MainActivity.kt
  android/app/src/main/java/com/noctuagames/app/MainActivity.kt
  android/app/src/main/java/com/noctuagames/app/ui/theme/Color.kt
  android/app/src/main/java/com/noctuagames/app/ui/theme/Theme.kt
  android/app/src/main/java/com/noctuagames/app/ui/theme/Type.kt
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/values-night/themes.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
  android/app/src/test/java/com/noctuagames/app/ExampleUnitTest.kt
  android/build.gradle.kts
  android/gradle/libs.versions.toml
  android/gradle/wrapper/gradle-wrapper.properties
  android/sdk/build.gradle.kts
  android/sdk/src/main/AndroidManifest.xml
  android/sdk/src/main/java/com/noctuagames/sdk/AccountContentProvider.kt
  android/sdk/src/main/java/com/noctuagames/sdk/AccountRepository.kt
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

bump version to 0.3.0 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.3.0
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

refactor: add columns to accounts that is useful to UI
  android/app/src/main/java/com/noctuagames/app/MainActivity.kt
  android/sdk/src/main/java/com/noctuagames/sdk/AccountContentProvider.kt
  android/sdk/src/main/java/com/noctuagames/sdk/AccountRepository.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

bump version to 0.3.1 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.3.1
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

fix: add last_updated to account repository
  android/sdk/src/main/java/com/noctuagames/sdk/AccountContentProvider.kt
  android/sdk/src/main/java/com/noctuagames/sdk/AccountRepository.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

bump version to 0.3.2 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

fix: save raw data instead of a lot of columns
  android/app/src/main/java/com/noctuagames/app/MainActivity.kt
  android/sdk/src/main/java/com/noctuagames/sdk/AccountContentProvider.kt
  android/sdk/src/main/java/com/noctuagames/sdk/AccountRepository.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

Release android-sdk-v0.3.2
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

fix: remove unneeded kotlin compose libs
  android/sdk/build.gradle.kts
  android/sdk/src/androidTest/java/com/noctuagames/sdk/ExampleInstrumentedTest.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

bump version to 0.3.3 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.3.3
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

fix: add explicit Account constructor that receives 3 parameters
  android/sdk/src/main/java/com/noctuagames/sdk/AccountRepository.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

bump version to 0.3.4 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.3.4
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

fix: use shared permission instead of app permission
  android/sdk/src/main/AndroidManifest.xml
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

bump version to 0.3.5 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.3.5
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

fix: makes content provider distributed across apps
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/noctuagames/app/MainActivity.kt
  android/sdk/build.gradle.kts
  android/sdk/src/main/AndroidManifest.xml
  android/sdk/src/main/java/com/noctuagames/sdk/AccountContentProvider.kt
  android/sdk/src/main/java/com/noctuagames/sdk/AccountRepository.kt
  android/sdk/src/main/java/com/noctuagames/sdk/AdjustService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/FacebookService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/FirebaseService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
  android/sdk/src/main/java/com/noctuagames/sdk/NoctuaService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/PackageDatabaseHelper.kt
  android/sdk/src/main/java/com/noctuagames/sdk/PackageRepository.kt
  android/sdk/src/main/java/com/noctuagames/sdk/Utils.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

bump version to 0.3.6 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.3.6
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

fix: use getInstalledApps instead of sending intent
  android/app/src/main/java/com/noctuagames/app/MainActivity.kt
  android/sdk/src/main/AndroidManifest.xml
  android/sdk/src/main/java/com/noctuagames/sdk/AccountContentProvider.kt
  android/sdk/src/main/java/com/noctuagames/sdk/AccountRepository.kt
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
  android/sdk/src/main/java/com/noctuagames/sdk/PackageDatabaseHelper.kt
  android/sdk/src/main/java/com/noctuagames/sdk/PackageRepository.kt
  android/sdk/src/main/java/com/noctuagames/sdk/Utils.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

bump version to 0.3.7 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.3.7
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

refactor: remove unused noctua tracker
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
  android/sdk/src/main/java/com/noctuagames/sdk/NoctuaService.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

refactor: removes unused internal tracker in iOS
  NoctuaSDK.podspec
  ios/NoctuaSDK/Sources/NoctuaPlugin.swift
  ios/NoctuaSDK/Sources/NoctuaService.swift
Due: none

bump version to 0.3.8 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.3.8
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

refactor: remove event map from Facebook and Firebase
  android/app/build.gradle.kts
  android/app/src/main/java/com/noctuagames/app/MainActivity.kt
  android/sdk/src/main/java/com/noctuagames/sdk/FacebookService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/FirebaseService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/Utils.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

bump version to 0.3.9 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.3.9
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Downgrade Firebase to 17.0.2
  NoctuaSDK.podspec
Due: none

Bump version to 0.2.2
  NoctuaSDK.podspec
Due: none

chore: add gitlab-ci for ios
  .gitlab-ci.yml
  NoctuaSDK.podspec
Due: none

fix: fix CI so at least it work when releasing
  .gitlab-ci.yml
  NoctuaSDK.podspec
Due: none

Release ios-sdk-v0.2.3
  NoctuaSDK.podspec
  ios/CHANGELOG.md
Due: none

fix: fix CI version DSL error so that it can be pushed
  .gitlab-ci.yml
  NoctuaSDK.podspec
Due: none

Path conditions:
  test-android-sdk: any of: android/**/*
  bump-version-android-sdk: any of: android/**/*
  deploy-android-sdk: any of: android/**/*
  publish-android-sdk: (any of: android/**/*) or (any of: gitlab-ci.yml, android/sdk/**/*)
  build-android-sdk: any of: gitlab-ci.yml, android/sdk/**/*
