Repository NoctuaLabs/noctua-native-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, bump-version-ios-sdk, publish-ios-sdk, build-android-sdk

test-android-sdk:
  image: cimg/android:2024.07.1
  stage: test
  script:
  - cd android
  - ./gradlew check

bump-version-android-sdk:
  image:
    name: alpine/git
    entrypoint:
    - ''
  before_script:
  - apk add git-cliff
  - git config --global user.email "gitlab-ci@noctua.gg"
  - git config --global user.name "Noctua Gitlab CI"
  stage: bump-version
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: 0
  script:
  - cd android
  ...

deploy-android-sdk:
  image: cimg/android:2024.07.1
  stage: deploy
  script:
  - git checkout $CI_COMMIT_BRANCH
  - cd android
  - ./gradlew :sdk:publishMavenPublicationToGitLabRepository

publish-android-sdk:
  image: cimg/android:2024.07.1
  stage: publish
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: 0
  script:
  - cd android
  - git fetch --tags
  - git checkout $CI_COMMIT_BRANCH
  - git pull
  - ./gradlew :sdk:publishAndReleaseToMavenCentral
  ...

bump-version-ios-sdk:
  image:
    name: alpine/git
    entrypoint:
    - ''
  before_script:
  - apk add git-cliff
  - git config --global user.email "gitlab-ci@noctua.gg"
  - git config --global user.name "Noctua Gitlab CI"
  stage: bump-version
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: 0
  script:
  - cd ios
  ...

publish-ios-sdk:
  stage: publish
  tags:
  - macmini
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: 0
  script:
  - cd ios
  - git fetch --tags
  - git checkout $CI_COMMIT_BRANCH
  - git pull
  - git clean -dxf
  - wget "https://github.com/orhun/git-cliff/releases/download/v2.4.0/git-cliff-2.4.0-x86_64-unknown-linux-gnu.tar.gz"
  ...

build-android-sdk:
  image: gitlab.com/evosverse/noctua/dependency_proxy/containers/cimg/android:2024.07.1
  before_script:
  - chmod +x gradlew
  stage: build
  script:
  - cd android
  - gradle :sdk:build

feat: add in-app review and in-app updates support
  android/gradle/libs.versions.toml
  android/sdk/build.gradle.kts
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
  android/sdk/src/main/java/com/noctuagames/sdk/presenter/NoctuaPresenter.kt
  android/sdk/src/main/java/com/noctuagames/sdk/services/AppManagementService.kt
  ios/NoctuaSDK/Sources/Noctua.swift
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, bump-version-ios-sdk, publish-ios-sdk, build-android-sdk

bump version to 0.28.0 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release ios-sdk-v0.32.0
  NoctuaSDK.podspec
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

chore: update noctua-internal-native-sdk to v0.17.0 and add AppManagement UI
  NoctuaSDK.podspec
  android/app/src/main/java/com/noctuagames/app/MainActivity.kt
  android/app/src/main/java/com/noctuagames/app/ui/components/AppManagementSection.kt
  android/gradle/libs.versions.toml
  ios/NoctuaSDKExample/NoctuaSDKExample/Components/OtherSection.swift
  ios/Podfile.lock
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, bump-version-ios-sdk, publish-ios-sdk

fix: fix gitlab ci bugs in test-ios-sdk and bump-version-ios-sdk
  .gitlab-ci.yml
Due: none

Release ios-sdk-v0.32.0
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

Release android-sdk-v0.28.0
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

feat: add registerLifecycleCallback for native engagement tracking
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
  android/sdk/src/main/java/com/noctuagames/sdk/presenter/NoctuaPresenter.kt
  ios/NoctuaSDK/Sources/Noctua.swift
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, bump-version-ios-sdk, publish-ios-sdk, build-android-sdk

feat: add conditional NoctuaLog wrapper and detailed SDK logging
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
  android/sdk/src/main/java/com/noctuagames/sdk/models/NoctuaModel.kt
  android/sdk/src/main/java/com/noctuagames/sdk/presenter/NoctuaPresenter.kt
  android/sdk/src/main/java/com/noctuagames/sdk/repositories/AccountRepository.kt
  android/sdk/src/main/java/com/noctuagames/sdk/services/AdjustService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/services/AppManagementService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/services/BillingService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/services/FacebookService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/services/FirebaseService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/services/NoctuaFirebaseMessagingService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/utils/NoctuaLog.kt
  android/sdk/src/test/java/com/noctuagames/sdk/models/ConfigModelTest.kt
  android/sdk/src/test/java/com/noctuagames/sdk/presenter/NoctuaPresenterTest.kt
  ios/NoctuaSDK/Sources/Model/NoctuaConfig.swift
  ios/NoctuaSDK/Sources/Noctua.swift
  ios/NoctuaSDK/Sources/Platform/IOSLogger.swift
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, bump-version-ios-sdk, publish-ios-sdk, build-android-sdk

bump version to 0.29.0 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

fix: rebase bump-version jobs before push to avoid race condition
  .gitlab-ci.yml
Due: none

bump version to 0.33.0 [skip ci]
  NoctuaSDK.podspec
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.33.0
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

fix: add fetch+rebase to release jobs before push
  .gitlab-ci.yml
Due: none

Release android-sdk-v0.29.0
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

feat(inspector): tracker emission bus + Firebase/Facebook log tailers
  android/sdk/src/main/java/com/noctuagames/sdk/inspector/LogTailer.kt
  android/sdk/src/main/java/com/noctuagames/sdk/inspector/NoctuaInspector.kt
  android/sdk/src/main/java/com/noctuagames/sdk/inspector/NoctuaInspectorBus.kt
  android/sdk/src/main/java/com/noctuagames/sdk/presenter/NoctuaPresenter.kt
  android/sdk/src/test/java/com/noctuagames/sdk/inspector/LogTailerTest.kt
  android/sdk/src/test/java/com/noctuagames/sdk/inspector/NoctuaInspectorBusTest.kt
  ios/NoctuaSDK/Sources/Inspector/FirebaseLogTailer.swift
  ios/NoctuaSDK/Sources/Inspector/NoctuaInspectorBridge.swift
  ios/NoctuaSDK/Sources/Inspector/NoctuaInspectorBus.swift
  ios/NoctuaSDK/Sources/Noctua.swift
  ios/NoctuaSDK/Sources/Presenter/TrackerPresenter.swift
  ios/NoctuaSDK/Sources/Protocol/TrackerServiceProtocol.swift
  ios/NoctuaSDK/Sources/Service/AdjustService.swift
  ios/NoctuaSDK/Sources/Service/FacebookService.swift
  ios/NoctuaSDK/Sources/Service/FirebaseService.swift
  ios/NoctuaSDKExample/NoctuaSDKExample.xcodeproj/project.pbxproj
  ios/NoctuaSDKTests/Inspector/FirebaseLogTailerTests.swift
  ios/NoctuaSDKTests/Inspector/NoctuaInspectorBusTests.swift
  ios/NoctuaSDKTests/Mocks/MockTrackerService.swift
  ios/Podfile.lock
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, bump-version-ios-sdk, publish-ios-sdk, build-android-sdk

bump version to 0.30.0 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.30.0
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

bump version to 0.34.0 [skip ci]
  NoctuaSDK.podspec
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.34.0
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

feat(inspector): Adjust + Facebook log-tailing with token capture
  android/sdk/src/main/java/com/noctuagames/sdk/inspector/LogTailer.kt
  android/sdk/src/main/java/com/noctuagames/sdk/services/AdjustService.kt
  ios/NoctuaSDK/Sources/Inspector/FirebaseLogTailer.swift
  ios/NoctuaSDK/Sources/Presenter/TrackerPresenter.swift
  ios/NoctuaSDK/Sources/Service/AdjustService.swift
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, bump-version-ios-sdk, publish-ios-sdk, build-android-sdk

bump version to 0.35.0 [skip ci]
  NoctuaSDK.podspec
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.35.0
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

bump version to 0.31.0 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.31.0
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

feat(inspector): add log-stream + device-metrics bridges
  android/sdk/src/main/java/com/noctuagames/sdk/inspector/DeviceMetricsProvider.kt
  android/sdk/src/main/java/com/noctuagames/sdk/inspector/LogTailer.kt
  android/sdk/src/main/java/com/noctuagames/sdk/inspector/NoctuaInspector.kt
  android/sdk/src/main/java/com/noctuagames/sdk/inspector/NoctuaInspectorBus.kt
  ios/NoctuaSDK/Sources/Inspector/DeviceMetricsProvider.swift
  ios/NoctuaSDK/Sources/Inspector/FirebaseLogTailer.swift
  ios/NoctuaSDK/Sources/Inspector/NoctuaInspectorBridge.swift
  ios/NoctuaSDK/Sources/Inspector/NoctuaInspectorBus.swift
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, bump-version-ios-sdk, publish-ios-sdk, build-android-sdk

fix(inspector): qualify Process type in LogTailer all-logs mode
  android/sdk/src/main/java/com/noctuagames/sdk/inspector/LogTailer.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

chore(release): native SDK 0.36.0 / 0.32.0 + Inspector docs
  NoctuaSDK.podspec
  android/CHANGELOG.md
  android/version.txt
  ios/CHANGELOG.md
  ios/Podfile.lock
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, bump-version-ios-sdk, publish-ios-sdk

fix(iap): SK1 getProductPurchaseStatus returns false for owned non-consumables
  ios/NoctuaSDK/Sources/Service/StoreKit1Service.swift
Due: bump-version-ios-sdk, publish-ios-sdk

docs: changelog entry for SK1 getProductPurchaseStatus fix
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

feat(inspector): clear-native-http-cache action
  android/sdk/src/main/java/com/noctuagames/sdk/inspector/NativeHttpCacheCleaner.kt
  android/sdk/src/main/java/com/noctuagames/sdk/inspector/NoctuaInspector.kt
  ios/NoctuaSDK/Sources/Inspector/NativeHttpCacheCleaner.swift
  ios/NoctuaSDK/Sources/Inspector/NoctuaInspectorBridge.swift
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, bump-version-ios-sdk, publish-ios-sdk, build-android-sdk

docs: add clear-native-http-cache to changelogs
  android/CHANGELOG.md
  ios/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, bump-version-ios-sdk, publish-ios-sdk

feat(inspector): build-info provider for the Build sanity panel
  android/sdk/src/main/java/com/noctuagames/sdk/inspector/BuildInfoProvider.kt
  android/sdk/src/main/java/com/noctuagames/sdk/inspector/NoctuaInspector.kt
  ios/NoctuaSDK/Sources/Inspector/BuildInfoProvider.swift
  ios/NoctuaSDK/Sources/Inspector/NoctuaInspectorBridge.swift
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, bump-version-ios-sdk, publish-ios-sdk, build-android-sdk

fix(iap): bound SK1 SK2-entitlement fallback to 250ms; update test wait
  android/CHANGELOG.md
  ios/CHANGELOG.md
  ios/NoctuaSDK/Sources/Service/StoreKit1Service.swift
  ios/NoctuaSDKTests/Service/StoreKit1ServiceTests.swift
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, bump-version-ios-sdk, publish-ios-sdk

Release android-sdk-v0.32.0
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release ios-sdk-v0.36.0
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

chore(android): bump adjust to 5.7.0, koin to 4.2.1, drop okhttp
  android/gradle/libs.versions.toml
  android/sdk/build.gradle.kts
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

fix(android): remove queries block causing manifest merger conflict
  android/app/src/main/AndroidManifest.xml
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

chore(ios): bump Adjust dependency to ~5.6.2
  NoctuaSDK.podspec
  ios/NoctuaSDKExample/NoctuaSDKExample.xcodeproj/project.pbxproj
  ios/Podfile.lock
Due: bump-version-ios-sdk, publish-ios-sdk

feat(ios): add noctua.noads non-consumable to example test products
  ios/NoctuaSDKExample/NoctuaSDKExample/ContentView.swift
Due: bump-version-ios-sdk, publish-ios-sdk

Path conditions:
  test-android-sdk: any of: android/**/*
  bump-version-android-sdk: any of: android/**/*
  deploy-android-sdk: any of: android/**/*
  publish-android-sdk: (any of: android/**/*) or (any of: gitlab-ci.yml, android/sdk/**/*)
  bump-version-ios-sdk: any of: ios/**/*, NoctuaSDK.podspec
  publish-ios-sdk: any of: ios/**/*, NoctuaSDK.podspec
  build-android-sdk: any of: gitlab-ci.yml, android/sdk/**/*
