Repository NoctuaLabs/noctua-native-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, bump-version-ios-sdk, publish-ios-sdk, build-android-sdk

Path conditions:
  test-android-sdk: any of: android/**/*
  bump-version-android-sdk: any of: android/**/*
  deploy-android-sdk: any of: android/**/*
  publish-android-sdk: (any of: android/**/*) or (any of: gitlab-ci.yml, android/sdk/**/*)
  bump-version-ios-sdk: any of: ios/**/*, NoctuaSDK.podspec
  publish-ios-sdk: any of: ios/**/*, NoctuaSDK.podspec
  build-android-sdk: any of: gitlab-ci.yml, android/sdk/**/*

Release android-sdk-v0.13.0
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

refactor: change internalTrackerEnabled into nativeInternalTrackerEnabled
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

bump version to 0.13.1 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.13.1
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

feat: update firebase to 12.2.0, adjust to 5.4.4, facebook to 18.0.1
  NoctuaSDK.podspec
Due: bump-version-ios-sdk, publish-ios-sdk

feat: enhance facebook ad revenue event name
  ios/NoctuaSDK/Sources/FacebookService.swift
Due: bump-version-ios-sdk, publish-ios-sdk

feat: add get firebase installation id and session id - android
  android/app/src/main/assets/noctuagg.json
  android/sdk/src/main/java/com/noctuagames/sdk/FirebaseService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

feat: add get firebase installation id and session id
  ios/NoctuaSDK/Sources/FirebaseService.swift
  ios/NoctuaSDK/Sources/Noctua.swift
  ios/NoctuaSDK/Sources/NoctuaPlugin.swift
Due: bump-version-ios-sdk, publish-ios-sdk

bump version to 0.14.0 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release ios-sdk-v0.18.0
  NoctuaSDK.podspec
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

Release android-sdk-v0.14.0
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

feat: add guard for get firebase session id and installation id
  ios/NoctuaSDK/Sources/FirebaseService.swift
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.19.0
  NoctuaSDK.podspec
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

add pipiline for main-icm
  .gitlab-ci.yml
Due: none

Release ios-sdk-v0.20.0
  NoctuaSDK.podspec
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

feat: migrate adjust sdk code v4 to v5
  ios/NoctuaSDK/Sources/AdjustService.swift
  ios/Podfile
  ios/Podfile.lock
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.21.0
  NoctuaSDK.podspec
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

fix: adjust signature framework not found
  NoctuaSDK.podspec
  ios/Podfile
  ios/Podfile.lock
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.21.1
  NoctuaSDK.podspec
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

feat: update version adjust v4 to v5, facebook v17 to v18, firebase crashlytic to v19.4.2, analytics to v22.4.0, messaging to v24.1.1
  android/gradle/libs.versions.toml
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

feat: enhance android compileSdk to 35
  android/sdk/build.gradle.kts
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

feat: migration adjust v4 to v5
  android/sdk/src/main/java/com/noctuagames/sdk/AdjustService.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

feat: update firebase ios sdk to version 11.14.0
  NoctuaSDK.podspec
Due: bump-version-ios-sdk, publish-ios-sdk

bump version to 0.15.0 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.15.0
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

feat: bump version manually to 0.21.2
  NoctuaSDK.podspec
Due: bump-version-ios-sdk, publish-ios-sdk

feat: bump version
  ios/NoctuaSDK/Sources/NoctuaSDK.h
Due: bump-version-ios-sdk, publish-ios-sdk

bump manually to version to 0.22.0
  .gitlab-ci.yml
Due: none

Release ios-sdk-v0.22.0
  NoctuaSDK.podspec
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

rollaback hardcoded version
  .gitlab-ci.yml
Due: none

feat: prevent crash while adjust eventMap is null iOS
  ios/NoctuaSDK/Sources/AdjustService.swift
Due: bump-version-ios-sdk, publish-ios-sdk

feat: prevent crash while event map is null android
  android/sdk/src/main/java/com/noctuagames/sdk/AdjustService.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

feat: add game id property
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

feat: add session tag for TSPU tracking
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

feat: update sample app
  android/app/src/main/assets/noctuagg.json
  android/app/src/main/java/com/noctuagames/app/MainActivity.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

chore: update required dependencies
  android/gradle/libs.versions.toml
  android/sdk/build.gradle.kts
  android/settings.gradle.kts
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

bump version to 0.16.0 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.16.0
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk
