Repository NoctuaLabs/noctua-native-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, bump-version-ios-sdk, publish-ios-sdk, build-android-sdk

Path conditions:
  test-android-sdk: any of: android/**/*
  bump-version-android-sdk: any of: android/**/*
  deploy-android-sdk: any of: android/**/*
  publish-android-sdk: (any of: android/**/*) or (any of: gitlab-ci.yml, android/sdk/**/*)
  bump-version-ios-sdk: any of: ios/**/*, NoctuaSDK.podspec
  publish-ios-sdk: any of: ios/**/*, NoctuaSDK.podspec
  build-android-sdk: any of: gitlab-ci.yml, android/sdk/**/*

fix add space to prevent command not found
  .gitlab-ci.yml
Due: none

Release ios-sdk-v0.27.0
  NoctuaSDK.podspec
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

misc remove log - android
  android/sdk/src/main/java/com/noctuagames/sdk/AdjustService.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

feat: add log fetching attribution - android
  android/sdk/src/main/java/com/noctuagames/sdk/AdjustService.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

bump version to 0.24.0 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.24.0
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

add pipiline for main-icm
  .gitlab-ci.yml
Due: none

feat: enhance facebook ad revenue event name
  ios/NoctuaSDK/Sources/FacebookService.swift
Due: bump-version-ios-sdk, publish-ios-sdk

feat: update firebase to 12.2.0, adjust to 5.4.4, facebook to 18.0.1
  NoctuaSDK.podspec
Due: bump-version-ios-sdk, publish-ios-sdk

misc: add get attribution in icm version
  ios/NoctuaSDK/Sources/AdjustService.swift
  ios/Podfile
  ios/Podfile.lock
Due: bump-version-ios-sdk, publish-ios-sdk

fix: adjust signature framework not found
  NoctuaSDK.podspec
  ios/Podfile
  ios/Podfile.lock
Due: bump-version-ios-sdk, publish-ios-sdk

fix: prevent requiring manual addition of Adjust signature to the framework
  NoctuaSDK.podspec
  ios/Podfile
Due: bump-version-ios-sdk, publish-ios-sdk

feat: add game id config
  ios/NoctuaSDK/Sources/NoctuaPlugin.swift
Due: bump-version-ios-sdk, publish-ios-sdk

fix: adjust signature is not loaded
  ios/NoctuaSDK/Sources/AdjustService.swift
Due: bump-version-ios-sdk, publish-ios-sdk

feat: update firebase remote config to 12.2.0
  NoctuaSDK.podspec
Due: bump-version-ios-sdk, publish-ios-sdk

fix: downgrade facebook sdk to 8.0.0
  NoctuaSDK.podspec
Due: bump-version-ios-sdk, publish-ios-sdk

refactor: adjust v5 attribution for icm - ios
  NoctuaSDK.podspec
  ios/NoctuaSDK/Sources/AdjustService.swift
  ios/NoctuaSDK/Sources/Noctua.swift
  ios/NoctuaSDK/Sources/NoctuaPlugin.swift
  ios/NoctuaSDKExample/NoctuaSDKExample.xcodeproj/project.pbxproj
  ios/NoctuaSDKExample/NoctuaSDKExample/ContentView.swift
Due: bump-version-ios-sdk, publish-ios-sdk

misc: bump version manually ios-icm
  .gitlab-ci.yml
  ios/Podfile.lock
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.27.1
  NoctuaSDK.podspec
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

fix comment gitcliff
  .gitlab-ci.yml
  android/sdk/src/main/java/com/noctuagames/sdk/AdjustService.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

bump version to 0.25.0 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.25.0
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

fix comment chmod
  .gitlab-ci.yml
  android/sdk/src/main/java/com/noctuagames/sdk/AdjustService.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

misc remove comment
  android/sdk/src/main/java/com/noctuagames/sdk/AdjustService.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

feat add log fetching attribution - android
  android/sdk/src/main/java/com/noctuagames/sdk/AdjustService.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

fix: remove log
  android/sdk/src/main/java/com/noctuagames/sdk/AdjustService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/FirebaseService.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

bump version to 0.25.1 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.25.1
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

refactor: change return custom object adjust attribution to json string
  android/sdk/src/main/java/com/noctuagames/sdk/AdjustService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

bump version to 0.25.2 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.25.2
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

fix: adjust attribution callback is not working properly - android
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

bump version to 0.25.3 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.25.3
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

misc: add adjust attribution logs
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

bump version to 0.25.4 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.25.4
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

bump version to 0.25.5 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk
