Repository NoctuaLabs/noctua-native-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, bump-version-ios-sdk, publish-ios-sdk, build-android-sdk

test-android-sdk:
  image: cimg/android:2024.07.1
  stage: test
  script:
  - cd android
  - ./gradlew check

bump-version-android-sdk:
  image:
    name: alpine/git
    entrypoint:
    - ''
  before_script:
  - apk add git-cliff
  - git config --global user.email "gitlab-ci@noctua.gg"
  - git config --global user.name "Noctua Gitlab CI"
  stage: bump-version
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: 0
  script:
  - cd android
  ...

deploy-android-sdk:
  image: cimg/android:2024.07.1
  stage: deploy
  script:
  - git checkout $CI_COMMIT_BRANCH
  - cd android
  - ./gradlew :sdk:publishMavenPublicationToGitLabRepository

publish-android-sdk:
  image: cimg/android:2024.07.1
  stage: publish
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: 0
  script:
  - cd android
  - git fetch --tags
  - git checkout $CI_COMMIT_BRANCH
  - git pull
  - ./gradlew :sdk:publishAndReleaseToMavenCentral
  ...

bump-version-ios-sdk:
  image:
    name: alpine/git
    entrypoint:
    - ''
  before_script:
  - apk add git-cliff
  - git config --global user.email "gitlab-ci@noctua.gg"
  - git config --global user.name "Noctua Gitlab CI"
  stage: bump-version
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: 0
  script:
  - cd ios
  ...

publish-ios-sdk:
  stage: publish
  tags:
  - macmini
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: 0
  script:
  - cd ios
  - git fetch --tags
  - git checkout $CI_COMMIT_BRANCH
  - git pull
  - git clean -dxf
  - wget "https://github.com/orhun/git-cliff/releases/download/v2.4.0/git-cliff-2.4.0-x86_64-unknown-linux-gnu.tar.gz"
  ...

build-android-sdk:
  image: gitlab.com/evosverse/noctua/dependency_proxy/containers/cimg/android:2024.07.1
  before_script:
  - chmod +x gradlew
  stage: build
  script:
  - cd android
  - gradle :sdk:build

feat(android/ios): add FCM topic subscription APIs
  android/app/src/main/java/com/noctuagames/app/MainActivity.kt
  android/app/src/main/java/com/noctuagames/app/ui/components/FcmSection.kt
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
  android/sdk/src/main/java/com/noctuagames/sdk/presenter/NoctuaPresenter.kt
  android/sdk/src/main/java/com/noctuagames/sdk/services/FirebaseService.kt
  android/sdk/src/test/java/com/noctuagames/sdk/presenter/NoctuaPresenterRobolectricTest.kt
  ios/NoctuaSDK/Sources/Noctua.swift
  ios/NoctuaSDK/Sources/Presenter/SessionPresenter.swift
  ios/NoctuaSDK/Sources/Protocol/FirebaseQueryServiceProtocol.swift
  ios/NoctuaSDK/Sources/Service/FirebaseService.swift
  ios/NoctuaSDKExample/NoctuaSDKExample/Components/FirebaseSection.swift
  ios/NoctuaSDKTests/Mocks/MockFirebaseQueryService.swift
  ios/NoctuaSDKTests/Presenter/SessionPresenterTests.swift
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, bump-version-ios-sdk, publish-ios-sdk, build-android-sdk

fix(ci): pick the CI runner's available iOS simulator dynamically
  .gitlab-ci.yml
Due: none

fix(ci): make iOS simulator detection tolerate a failing simctl call
  .gitlab-ci.yml
Due: none

fix(ci): pair the picked iOS simulator with its own runtime's OS version
  .gitlab-ci.yml
Due: none

ci(ios): replace simulator-based tests with pod lib lint
  .gitlab-ci.yml
Due: none

revert(ios): keep Adjust at ~> 5.6.2
  NoctuaSDK.podspec
  ios/Podfile.lock
Due: bump-version-ios-sdk, publish-ios-sdk

bump version to 0.35.0 [skip ci]
  android/sdk/src/main/java/com/noctuagames/sdk/inspector/BuildInfoProvider.kt
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

Release android-sdk-v0.35.0
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

bump version to 0.40.0 [skip ci]
  NoctuaSDK.podspec
  ios/NoctuaSDK/Sources/Inspector/BuildInfoProvider.swift
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.40.0
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

fix(ios): route StoreKit product responses per request and harden purchase error handling
  ios/NoctuaSDK/Sources/Service/StoreKit1Service.swift
  ios/NoctuaSDK/Sources/Service/StoreKitService.swift
  ios/NoctuaSDKTests/Service/StoreKit1ServiceTests.swift
Due: bump-version-ios-sdk, publish-ios-sdk

bump version to 0.40.1 [skip ci]
  NoctuaSDK.podspec
  ios/NoctuaSDK/Sources/Inspector/BuildInfoProvider.swift
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.40.1
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

fix(billing): rebuild the BillingClient when reconnecting so billing can recover
  android/sdk/src/main/java/com/noctuagames/sdk/services/BillingService.kt
  android/sdk/src/test/java/com/noctuagames/sdk/services/BillingServiceRobolectricTest.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

bump version to 0.35.1 [skip ci]
  android/sdk/src/main/java/com/noctuagames/sdk/inspector/BuildInfoProvider.kt
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

Release android-sdk-v0.35.1
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

fix(ios): import Foundation in AccountRepository
  ios/NoctuaSDK/Sources/Repository/AccountRepository.swift
Due: bump-version-ios-sdk, publish-ios-sdk

ci(ios): run pod lib lint in quick mode on the xcode 27 runner
  .gitlab-ci.yml
Due: none

bump version to 0.40.2 [skip ci]
  NoctuaSDK.podspec
  ios/NoctuaSDK/Sources/Inspector/BuildInfoProvider.swift
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.40.2
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

Path conditions:
  test-android-sdk: any of: android/**/*
  bump-version-android-sdk: any of: android/**/*
  deploy-android-sdk: any of: android/**/*
  publish-android-sdk: (any of: android/**/*) or (any of: gitlab-ci.yml, android/sdk/**/*)
  bump-version-ios-sdk: any of: ios/**/*, NoctuaSDK.podspec
  publish-ios-sdk: any of: ios/**/*, NoctuaSDK.podspec
  build-android-sdk: any of: gitlab-ci.yml, android/sdk/**/*
