Repository NoctuaLabs/noctua-native-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

test-android-sdk:
  image: cimg/android:2024.07.1
  stage: test
  script:
  - cd android
  - ./gradlew check

bump-version-android-sdk:
  image:
    name: alpine/git
    entrypoint:
    - ''
  variables:
    GIT_STRATEGY: clone
    GIT_DEPTH: 0
  before_script:
  - apk add git-cliff
  - git config --global user.email "gitlab-ci@noctua.gg"
  - git config --global user.name "Noctua Gitlab CI"
  stage: bump-version
  script:
  - cd android
  ...

deploy-android-sdk:
  image: cimg/android:2024.07.1
  stage: deploy
  script:
  - git checkout $CI_COMMIT_BRANCH
  - cd android
  - ./gradlew :sdk:publishMavenPublicationToGitLabRepository

publish-android-sdk:
  image: cimg/android:2024.07.1
  stage: publish
  script:
  - cd android
  - ./gradlew :sdk:publishAndReleaseToMavenCentral
  - wget "https://github.com/orhun/git-cliff/releases/download/v2.4.0/git-cliff-2.4.0-x86_64-unknown-linux-gnu.tar.gz"
  - tar -xvf git-cliff-2.4.0-x86_64-unknown-linux-gnu.tar.gz
  ...

build-android-sdk:
  image: gitlab.com/evosverse/noctua/dependency_proxy/containers/cimg/android:2024.07.1
  before_script:
  - chmod +x gradlew
  stage: build
  script:
  - cd android
  - gradle :sdk:build

feat: Catch receiptData after successful payment.
  NoctuaSDK.podspec
  ios/NoctuaSDK/Sources/Noctua.swift
  ios/NoctuaSDK/Sources/NoctuaService.swift
Due: none

chore: Bump to v0.1.16
  NoctuaSDK.podspec
Due: none

Release android-sdk-v0.1.7
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Bump version to 0.1.17.
  NoctuaSDK.podspec
Due: none

feat: Add getActiveCurrency().
  NoctuaSDK.podspec
  ios/NoctuaSDK/Sources/Noctua.swift
  ios/NoctuaSDK/Sources/NoctuaPlugin.swift
  ios/NoctuaSDK/Sources/NoctuaService.swift
  ios/NoctuaSDKExample/NoctuaSDKExample/ContentView.swift
Due: none

fix: Use self.logger instead of print.
  NoctuaSDK.podspec
  ios/NoctuaSDK/Sources/NoctuaService.swift
Due: none

Remove print from Noctua class.
  ios/NoctuaSDK/Sources/Noctua.swift
Due: none

fix: add facebook to NoctuaPlugin
  NoctuaSDK.podspec
  ios/NoctuaSDK/Sources/FacebookService.swift
  ios/NoctuaSDK/Sources/NoctuaPlugin.swift
  ios/NoctuaSDKExample/NoctuaSDKExample.xcodeproj/project.pbxproj
  ios/NoctuaSDKExample/NoctuaSDKExample/Info.plist
  ios/NoctuaSDKExample/NoctuaSDKExample/noctuagg.json
  ios/Podfile.lock
Due: none

fix: FirebaseAnalytics import macro
  ios/NoctuaSDK/Sources/FirebaseService.swift
  ios/NoctuaSDKExample/NoctuaSDKExample.xcodeproj/xcshareddata/xcschemes/NoctuaSDKExample.xcscheme
  ios/NoctuaSDKExample/NoctuaSDKExample/Info.plist
  ios/NoctuaSDKExample/NoctuaSDKExample/noctuagg.json
Due: none

chore: bump version to 0.1.20
  NoctuaSDK.podspec
  ios/Podfile.lock
Due: none

fix: avoid configuring Firebase twice
  ios/NoctuaSDK/Sources/FirebaseService.swift
Due: none

refactor: makes tracker initialization and tracking events more robust to errors
  android/app/src/main/assets/noctuagg.json
  android/gradle/libs.versions.toml
  android/sdk/build.gradle.kts
  android/sdk/src/main/java/com/noctuagames/sdk/AdjustService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/FacebookService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/FirebaseService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
  android/sdk/src/main/java/com/noctuagames/sdk/NoctuaService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/Utils.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

bump version to 0.1.8 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.1.8
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

fix: use exact facebook version to be able to publish to maven central
  android/gradle/libs.versions.toml
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

bump version to 0.1.9 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.1.9
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

fix: disable facebook temporarily so Maven will accept this version
  android/sdk/build.gradle.kts
  android/sdk/src/main/java/com/noctuagames/sdk/FacebookService.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

bump version to 0.1.10 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.1.10
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

fix: remove firebase bom to makes maven publish green
  android/gradle/libs.versions.toml
  android/sdk/build.gradle.kts
  android/sdk/src/main/java/com/noctuagames/sdk/FacebookService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/FirebaseService.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

bump version to 0.1.11 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.1.11
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

refactor: add logging and change parameters to tracker
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/assets/noctuagg.json
  android/app/src/main/java/com/noctuagames/android/sdktest/MainActivity.kt
  android/app/src/main/res/values/strings.xml
  android/sdk/src/main/AndroidManifest.xml
  android/sdk/src/main/java/com/noctuagames/sdk/AdjustService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/FacebookService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/FirebaseService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
  ios/NoctuaSDK/Sources/FacebookService.swift
  ios/NoctuaSDK/Sources/FirebaseService.swift
  ios/NoctuaSDK/Sources/NoctuaPlugin.swift
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

bump version to 0.1.12 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.1.12
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

fix: fail Firebase initialization if not configured correctly
  android/sdk/src/main/java/com/noctuagames/sdk/FirebaseService.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

bump version to 0.1.13 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.1.13
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

fix: initialize Facebook SDK
  NoctuaSDK.podspec
  ios/.DS_Store
  ios/NoctuaSDK/Sources/FacebookService.swift
  ios/NoctuaSDK/Sources/FirebaseService.swift
  ios/NoctuaSDK/Sources/Noctua.swift
  ios/NoctuaSDK/Sources/NoctuaPlugin.swift
  ios/NoctuaSDKExample/NoctuaSDKExample/.DS_Store
  ios/NoctuaSDKExample/NoctuaSDKExample/Info.plist
  ios/Podfile.lock
Due: none

feat: disable custom events on Android
  android/sdk/src/main/java/com/noctuagames/sdk/AdjustService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/FacebookService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/FirebaseService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
  android/sdk/src/main/java/com/noctuagames/sdk/NoctuaService.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

feat: disable custom event on iOS
  NoctuaSDK.podspec
  ios/NoctuaSDK/Sources/AdjustService.swift
  ios/NoctuaSDK/Sources/FacebookService.swift
  ios/NoctuaSDK/Sources/FirebaseService.swift
  ios/NoctuaSDK/Sources/NoctuaService.swift
Due: none

bump version to 0.2.0 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.2.0
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

fix: Always configure firebase
  ios/NoctuaSDK/Sources/FirebaseService.swift
  ios/NoctuaSDKExample/NoctuaSDKExample/GoogleService-Info.plist
Due: none

chore: bump version
  NoctuaSDK.podspec
Due: none

fix: undo removing important permission gms.permission.AD_ID
  android/sdk/src/main/AndroidManifest.xml
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

bump version to 0.2.1 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.2.1
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

fix: set Firebase analytics collection enabled
  NoctuaSDK.podspec
  ios/NoctuaSDK/Sources/FirebaseService.swift
  ios/NoctuaSDK/Sources/Noctua.swift
Due: none

Path conditions:
  test-android-sdk: any of: android/**/*
  bump-version-android-sdk: any of: android/**/*
  deploy-android-sdk: any of: android/**/*
  publish-android-sdk: (any of: android/**/*) or (any of: gitlab-ci.yml, android/sdk/**/*)
  build-android-sdk: any of: gitlab-ci.yml, android/sdk/**/*
