Repository NoctuaLabs/noctua-native-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, bump-version-ios-sdk, publish-ios-sdk, build-android-sdk

test-android-sdk:
  image: cimg/android:2024.07.1
  stage: test
  script:
  - cd android
  - ./gradlew check

bump-version-android-sdk:
  image:
    name: alpine/git
    entrypoint:
    - ''
  before_script:
  - apk add git-cliff
  - git config --global user.email "gitlab-ci@noctua.gg"
  - git config --global user.name "Noctua Gitlab CI"
  stage: bump-version
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: 0
  script:
  - cd android
  ...

deploy-android-sdk:
  image: cimg/android:2024.07.1
  stage: deploy
  script:
  - git checkout $CI_COMMIT_BRANCH
  - cd android
  - ./gradlew :sdk:publishMavenPublicationToGitLabRepository

publish-android-sdk:
  image: cimg/android:2024.07.1
  stage: publish
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: 0
  script:
  - cd android
  - git fetch --tags
  - git checkout $CI_COMMIT_BRANCH
  - git pull
  - ./gradlew :sdk:publishAndReleaseToMavenCentral
  ...

bump-version-ios-sdk:
  image:
    name: alpine/git
    entrypoint:
    - ''
  before_script:
  - apk add git-cliff
  - git config --global user.email "gitlab-ci@noctua.gg"
  - git config --global user.name "Noctua Gitlab CI"
  stage: bump-version
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: 0
  script:
  - cd ios
  ...

publish-ios-sdk:
  stage: publish
  tags:
  - macmini
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: 0
  script:
  - cd ios
  - git fetch --tags
  - git checkout $CI_COMMIT_BRANCH
  - git pull
  - git clean -dxf
  - wget "https://github.com/orhun/git-cliff/releases/download/v2.4.0/git-cliff-2.4.0-x86_64-unknown-linux-gnu.tar.gz"
  ...

build-android-sdk:
  image: gitlab.com/evosverse/noctua/dependency_proxy/containers/cimg/android:2024.07.1
  before_script:
  - chmod +x gradlew
  stage: build
  script:
  - cd android
  - gradle :sdk:build

fix: remove vendored_frameworks adjust signature
  NoctuaSDK.podspec
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.24.1
  NoctuaSDK.podspec
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

Release android-sdk-v0.19.1
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

fix: Use best practice, put callback as last param.
  android/app/src/main/java/com/noctuagames/app/MainActivity.kt
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

bump version to 0.19.2 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

fix: add instance guard
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

feat: update noctua internal native sdk to 0.10.0
  android/gradle/libs.versions.toml
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

bump version to 0.20.0 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.20.0
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

feat: implement Room-based event persistence (save/get/delete)
  android/app/src/main/java/com/noctuagames/app/MainActivity.kt
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

misc: update noctua internal native sdk to 0.11.0
  android/gradle/libs.versions.toml
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

bump version to 0.21.0 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.21.0
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

feat: implement all function noctua native internal sdk
  NoctuaSDK.podspec
  ios/NoctuaSDK/Sources/Noctua.swift
  ios/NoctuaSDK/Sources/NoctuaPlugin.swift
  ios/NoctuaSDK/Sources/NoctuaService.swift
  ios/NoctuaSDKExample/NoctuaSDKExample/noctuagg.json
  ios/Podfile
Due: bump-version-ios-sdk, publish-ios-sdk

misc: bump version ios manually
  .gitlab-ci.yml
Due: none

misc: bump release version manually
  .gitlab-ci.yml
Due: none

Release ios-sdk-v0.25.0
  NoctuaSDK.podspec
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

fix: add noctua private specs
  .gitlab-ci.yml
Due: none

feat: add guard if the sdk is not installed
  ios/NoctuaSDK/Sources/NoctuaPlugin.swift
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.25.0
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

fix: error pipeline
  .gitlab-ci.yml
  NoctuaSDK.podspec
  ios/Podfile
Due: bump-version-ios-sdk, publish-ios-sdk

feat: update sample app
  ios/NoctuaSDKExample/NoctuaSDKExample.xcodeproj/project.pbxproj
  ios/NoctuaSDKExample/NoctuaSDKExample/ContentView.swift
  ios/Podfile.lock
Due: bump-version-ios-sdk, publish-ios-sdk

feat: add adjust attribution android
  android/app/src/main/java/com/noctuagames/app/MainActivity.kt
  android/sdk/src/main/java/com/noctuagames/sdk/AdjustService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

feat: add adjust attribution ios
  ios/NoctuaSDK/Sources/AdjustService.swift
  ios/NoctuaSDK/Sources/Noctua.swift
  ios/NoctuaSDK/Sources/NoctuaPlugin.swift
  ios/NoctuaSDKExample/NoctuaSDKExample/ContentView.swift
  ios/NoctuaSDKExample/NoctuaSDKExample/Info.plist
Due: bump-version-ios-sdk, publish-ios-sdk

misc: bump manually ios sdk version to 0.26.0
  .gitlab-ci.yml
Due: none

Remove the line that call apk since we are using shell executor on Ubuntu machine.
  .gitlab-ci.yml
Due: none

Change the runner tag to android-local-2
  .gitlab-ci.yml
Due: none

Add ANDROID_HOME variable.
  .gitlab-ci.yml
Due: none

bump version to 0.22.0 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Add JAVA_HOME path.
  .gitlab-ci.yml
Due: none

Release android-sdk-v0.22.0
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Define tags for IOS jos. Lock to macmini runenr.
  .gitlab-ci.yml
Due: none

Release ios-sdk-v0.26.0
  NoctuaSDK.podspec
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

fix: add guard to fix the pipeline
  ios/NoctuaSDK/Sources/AdjustService.swift
Due: bump-version-ios-sdk, publish-ios-sdk

feat: add log fetching adjust attribution - android
  android/sdk/src/main/java/com/noctuagames/sdk/AdjustService.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

misc: bump ios version sdk manually
  .gitlab-ci.yml
Due: none

fix add space to gradle check
  .gitlab-ci.yml
Due: none

bump version to 0.23.0 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.23.0
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Path conditions:
  test-android-sdk: any of: android/**/*
  bump-version-android-sdk: any of: android/**/*
  deploy-android-sdk: any of: android/**/*
  publish-android-sdk: (any of: android/**/*) or (any of: gitlab-ci.yml, android/sdk/**/*)
  bump-version-ios-sdk: any of: ios/**/*, NoctuaSDK.podspec
  publish-ios-sdk: any of: ios/**/*, NoctuaSDK.podspec
  build-android-sdk: any of: gitlab-ci.yml, android/sdk/**/*
