Repository NoctuaLabs/noctua-native-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, bump-version-ios-sdk, publish-ios-sdk, build-android-sdk

Path conditions:
  test-android-sdk: any of: android/**/*
  bump-version-android-sdk: any of: android/**/*
  deploy-android-sdk: any of: android/**/*
  publish-android-sdk: (any of: android/**/*) or (any of: gitlab-ci.yml, android/sdk/**/*)
  bump-version-ios-sdk: any of: ios/**/*, NoctuaSDK.podspec
  publish-ios-sdk: any of: ios/**/*, NoctuaSDK.podspec
  build-android-sdk: any of: gitlab-ci.yml, android/sdk/**/*

Release ios-sdk-v0.2.4
  NoctuaSDK.podspec
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

fix: another attempt to fix version DSL in podspec
  .gitlab-ci.yml
  NoctuaSDK.podspec
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.2.5
  NoctuaSDK.podspec
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

feat: add dynamic event suffix to facebook and firebase
  ios/NoctuaSDK/Sources/FacebookService.swift
  ios/NoctuaSDK/Sources/FirebaseService.swift
  ios/NoctuaSDKExample/NoctuaSDKExample/ContentView.swift
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.3.0
  NoctuaSDK.podspec
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

docs: add manual release guide [skip ci]
  android/README.md
  ios/README.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, bump-version-ios-sdk, publish-ios-sdk

bump version to 0.3.10 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

feat: android firebase crashlytics
  android/build.gradle.kts
  android/gradle/libs.versions.toml
  android/sdk/build.gradle.kts
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

feat: iOS firebase crashlytics
  NoctuaSDK.podspec
  ios/NoctuaSDKExample/NoctuaSDKExample/ContentView.swift
  ios/Podfile
Due: bump-version-ios-sdk, publish-ios-sdk

feat: add the Google services plugin and Crashlytics plugin
  android/app/build.gradle.kts
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

feat: add button crash me android
  android/app/src/main/java/com/noctuagames/app/MainActivity.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

fix: rename Crashlytics to FirebaseCrashlytics
  NoctuaSDK.podspec
  ios/Podfile
Due: bump-version-ios-sdk, publish-ios-sdk

feat: google services json android
  android/app/google-services.json
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

bump version to 0.4.0 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.4.0
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release ios-sdk-v0.4.0
  NoctuaSDK.podspec
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

ci: use curl instead of wget and download darwin instead of linux on macmini runner
  .gitlab-ci.yml
Due: none

fix: downgrade plugin crashlytics 3.0.2 -> 2.9.5
  android/build.gradle.kts
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

bump version to 0.4.1 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.4.1
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

feat: save accounts in shared keychain
  NoctuaSDK.podspec
  ios/NoctuaSDK/Sources/AccountRepository.swift
  ios/NoctuaSDK/Sources/Noctua.swift
  ios/NoctuaSDK/Sources/NoctuaPlugin.swift
  ios/NoctuaSDK/Sources/NoctuaService.swift
  ios/NoctuaSDKExample/NoctuaSDKExample.xcodeproj/project.pbxproj
  ios/NoctuaSDKExample/NoctuaSDKExample/ContentView.swift
  ios/NoctuaSDKExample/NoctuaSDKExample/NoctuaSDKExample.entitlements
  ios/NoctuaSDKExample/NoctuaSDKExample/NoctuaSDKExampleApp.swift
  ios/NoctuaSDKExample/NoctuaSDKExample/noctuagg.json
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.5.0
  NoctuaSDK.podspec
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

chore: fix CI GH release
  .gitlab-ci.yml
  NoctuaSDK.podspec
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.5.1
  NoctuaSDK.podspec
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

fix: split rawData and lastUpdated with correct separator index
  ios/NoctuaSDK/Sources/AccountRepository.swift
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.5.2
  NoctuaSDK.podspec
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

fix: add isCrashlyticsCollectionEnabled = true
  android/sdk/src/main/java/com/noctuagames/sdk/FirebaseService.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

bump version to 0.4.2 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.4.2
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

fix: remove enable crashlytics by programmatically
  android/sdk/src/main/java/com/noctuagames/sdk/FirebaseService.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

feat: crashlytics ndk android
  android/gradle/libs.versions.toml
  android/sdk/build.gradle.kts
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

bump version to 0.5.0 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.5.0
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

feat: enable GWP-ASan
  android/sdk/src/main/AndroidManifest.xml
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

bump version to 0.6.0 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.6.0
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

fix: use update instead of delete + add in AccountRepository
  ios/NoctuaSDK/Sources/AccountRepository.swift
  ios/NoctuaSDKExample/NoctuaSDKExample/ContentView.swift
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.5.3
  NoctuaSDK.podspec
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

Move Adjust, Facebook and Firebase config under android section.
  android/sdk/src/main/java/com/noctuagames/sdk/AdjustService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/FacebookService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/FirebaseService.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

Move Adjust, Facebook and Firebase config under ios section.
  ios/NoctuaSDK/Sources/AdjustService.swift
  ios/NoctuaSDK/Sources/FacebookService.swift
  ios/NoctuaSDK/Sources/FirebaseService.swift
Due: bump-version-ios-sdk, publish-ios-sdk
