Repository NoctuaLabs/noctua-native-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-android, deploy-gitlab-android-sdk, build-android-sdk, publish-android-sdk

test-android:
  image: cimg/android:2024.07.1
  before_script:
  - cd android
  stage: test
  script:
  - ./gradlew check

deploy-gitlab-android-sdk:
  image: cimg/android:2024.07.1
  before_script:
  - cd android
  stage: deploy
  script:
  - ./gradlew :sdk:publishMavenPublicationToGitLabRepository

build-android-sdk:
  image: gitlab.com/evosverse/noctua/dependency_proxy/containers/cimg/android:2024.07.1
  before_script:
  - chmod +x gradlew
  stage: build
  script:
  - cd android
  - gradle :sdk:build

publish-android-sdk:
  image: gitlab.com/evosverse/noctua/dependency_proxy/containers/cimg/android:2024.07.1
  before_script:
  - chmod +x gradlew
  stage: publish
  script:
  - cd android
  - ./gradlew :sdk:publishDebugPublicationToMavenRepository
  dependencies:
  - build

chore(ci): add test and release
  .gitlab-ci.yml
  android/sdk/build.gradle.kts
Due: build-android-sdk, publish-android-sdk

chore(ci): add bump version
  .gitlab-ci.yml
  android/app/build.gradle.kts
  android/gradle/libs.versions.toml
  android/sdk/build.gradle.kts
  android/settings.gradle.kts
  android/version.txt
Due: test-android, deploy-gitlab-android-sdk, build-android-sdk, publish-android-sdk

Bump version to v0.1.0 [skip ci]
  android/CHANGELOG.md
Due: test-android, deploy-gitlab-android-sdk

chore(ci): bump version after release
  .gitlab-ci.yml
  android/settings.gradle.kts
Due: test-android, deploy-gitlab-android-sdk

chore(ci): don't deploy to gitlab if bump version failed
  .gitlab-ci.yml
Due: none

fix(maven): put gitlab first
  android/settings.gradle.kts
Due: test-android, deploy-gitlab-android-sdk

chore(ci): fix alpine/git image entry point
  .gitlab-ci.yml
  android/settings.gradle.kts
Due: test-android, deploy-gitlab-android-sdk

chore(ci): fix deploy gitlab path and gitlab ci clone behavior
  .gitlab-ci.yml
  android/sdk/build.gradle.kts
Due: build-android-sdk, publish-android-sdk

chore(ci): fix android folder pipeline rule
  .gitlab-ci.yml
  android/sdk/src/test/java/com/noctuagg/sdk/ExampleUnitTest.kt
Due: build-android-sdk, publish-android-sdk

bump version to v0.2.0 [skip ci]
  android/version.txt
Due: test-android, deploy-gitlab-android-sdk

chore(ci): publish updated version
  .gitlab-ci.yml
  android/sdk/src/test/java/com/noctuagg/sdk/ExampleUnitTest.kt
Due: build-android-sdk, publish-android-sdk

chore(ci): revamp release flow
  .gitlab-ci.yml
  android/version.txt
Due: test-android, deploy-gitlab-android-sdk

bump version to v0.1.1 [skip ci]
  android/version.txt
Due: test-android, deploy-gitlab-android-sdk

chore(ci): pull before release
  .gitlab-ci.yml
  android/version.txt
Due: test-android, deploy-gitlab-android-sdk

chore(ci): fix bump release version
  .gitlab-ci.yml
  android/version.txt
Due: test-android, deploy-gitlab-android-sdk

bump version to android-sdk-v0.1.1 [skip ci]
  android/CHANGELOG.md
Due: test-android, deploy-gitlab-android-sdk

chore(ci): fix publish
  .gitlab-ci.yml
  android/sdk/src/test/java/com/noctuagg/sdk/ExampleUnitTest.kt
Due: build-android-sdk, publish-android-sdk

bump version to v0.1.2 [skip ci]
  android/version.txt
Due: test-android, deploy-gitlab-android-sdk

chore(ci): must checkout before release
  .gitlab-ci.yml
  android/sdk/src/test/java/com/noctuagg/sdk/ExampleUnitTest.kt
Due: build-android-sdk, publish-android-sdk

Release android-sdk-v0.1.2
  android/CHANGELOG.md
Due: test-android, deploy-gitlab-android-sdk

chore(ci): makes gh release works
  .gitlab-ci.yml
  android/sdk/src/test/java/com/noctuagg/sdk/ExampleUnitTest.kt
Due: build-android-sdk, publish-android-sdk

bump version to 0.1.3 [skip ci]
  android/version.txt
Due: test-android, deploy-gitlab-android-sdk

chore(ci): makes sure at the latest change before release
  .gitlab-ci.yml
  android/sdk/src/test/java/com/noctuagg/sdk/ExampleUnitTest.kt
Due: build-android-sdk, publish-android-sdk

Release android-sdk-v0.1.3
  android/CHANGELOG.md
Due: test-android, deploy-gitlab-android-sdk

chore(ci): fix gh release
  .gitlab-ci.yml
  android/sdk/src/test/java/com/noctuagg/sdk/ExampleUnitTest.kt
Due: build-android-sdk, publish-android-sdk

bump version to 0.1.4 [skip ci]
  android/version.txt
Due: test-android, deploy-gitlab-android-sdk

Release android-sdk-v0.1.4
  android/CHANGELOG.md
Due: test-android, deploy-gitlab-android-sdk

refactor: decouple Adjust
  android/app/build.gradle.kts
  android/app/src/main/java/com/noctua/example/MainActivity.kt
  android/app/src/test/java/com/noctua/example/ExampleUnitTest.kt
  android/sdk/build.gradle.kts
  android/sdk/src/androidTest/java/com/noctuagames/sdk/ExampleInstrumentedTest.kt
  android/sdk/src/main/java/com/noctuagames/sdk/AdjustService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/AdjustTracker.kt
  android/sdk/src/main/java/com/noctuagames/sdk/DeviceInfo.java
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
  android/sdk/src/main/java/com/noctuagames/sdk/NoctuaProxyTracker.kt
  android/sdk/src/main/java/com/noctuagames/sdk/NoctuaService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/NoctuaTracker.kt
  android/sdk/src/test/java/com/noctuagames/sdk/ExampleUnitTest.kt
Due: build-android-sdk, publish-android-sdk

bump version to 0.1.5 [skip ci]
  android/version.txt
Due: test-android, deploy-gitlab-android-sdk

Release android-sdk-v0.1.5
  android/CHANGELOG.md
Due: test-android, deploy-gitlab-android-sdk

fix: support lower API levels
  android/gradle/libs.versions.toml
  android/sdk/build.gradle.kts
  android/sdk/src/main/java/com/noctuagames/sdk/DeviceInfo.java
Due: build-android-sdk, publish-android-sdk

bump version to 0.1.6 [skip ci]
  android/version.txt
Due: test-android, deploy-gitlab-android-sdk

fix: remove unneeded dependencies
  android/sdk/build.gradle.kts
  android/sdk/src/main/java/com/noctuagames/sdk/DeviceInfo.java
Due: build-android-sdk, publish-android-sdk

Release android-sdk-v0.1.6
  android/CHANGELOG.md
Due: test-android, deploy-gitlab-android-sdk

chore: add example config to example app
  android/app/src/main/assets/noctuagg.json
Due: none

bump version to 0.1.7 [skip ci]
  android/version.txt
Due: test-android, deploy-gitlab-android-sdk

Implement Firebase.
  android/app/build.gradle.kts
  android/build.gradle.kts
  android/sdk/build.gradle.kts
  android/sdk/src/main/AndroidManifest.xml
  android/sdk/src/main/java/com/noctuagames/sdk/FirebaseService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
Due: test-android, deploy-gitlab-android-sdk, build-android-sdk, publish-android-sdk

Remove FirebaseConfig since load on runtime is not supported by Analytics.
  android/sdk/src/main/java/com/noctuagames/sdk/FirebaseService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
Due: build-android-sdk, publish-android-sdk

Path conditions:
  test-android: any of: android/**
  deploy-gitlab-android-sdk: any of: android/**
  build-android-sdk: any of: gitlab-ci.yml, android/sdk/**/*
  publish-android-sdk: any of: gitlab-ci.yml, android/sdk/**/*
