Repository NoctuaLabs/noctua-native-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, bump-version-ios-sdk, publish-ios-sdk, build-android-sdk

test-android-sdk:
  image: cimg/android:2024.07.1
  stage: test
  script:
  - cd android
  - ./gradlew check

bump-version-android-sdk:
  image:
    name: alpine/git
    entrypoint:
    - ''
  before_script:
  - apk add git-cliff
  - git config --global user.email "gitlab-ci@noctua.gg"
  - git config --global user.name "Noctua Gitlab CI"
  stage: bump-version
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: 0
  script:
  - cd android
  ...

deploy-android-sdk:
  image: cimg/android:2024.07.1
  stage: deploy
  script:
  - git checkout $CI_COMMIT_BRANCH
  - cd android
  - ./gradlew :sdk:publishMavenPublicationToGitLabRepository

publish-android-sdk:
  image: cimg/android:2024.07.1
  stage: publish
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: 0
  script:
  - cd android
  - git fetch --tags
  - git checkout $CI_COMMIT_BRANCH
  - git pull
  - ./gradlew :sdk:publishAndReleaseToMavenCentral
  ...

bump-version-ios-sdk:
  image:
    name: alpine/git
    entrypoint:
    - ''
  before_script:
  - apk add git-cliff
  - git config --global user.email "gitlab-ci@noctua.gg"
  - git config --global user.name "Noctua Gitlab CI"
  stage: bump-version
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: 0
  script:
  - cd ios
  ...

publish-ios-sdk:
  stage: publish
  tags:
  - macmini
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: 0
  script:
  - cd ios
  - git fetch --tags
  - git checkout $CI_COMMIT_BRANCH
  - git pull
  - git clean -dxf
  - wget "https://github.com/orhun/git-cliff/releases/download/v2.4.0/git-cliff-2.4.0-x86_64-unknown-linux-gnu.tar.gz"
  ...

build-android-sdk:
  image: gitlab.com/evosverse/noctua/dependency_proxy/containers/cimg/android:2024.07.1
  before_script:
  - chmod +x gradlew
  stage: build
  script:
  - cd android
  - gradle :sdk:build

chore(android): remove koin-core dependency
  android/gradle/libs.versions.toml
  android/sdk/build.gradle.kts
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

fix(android): remove koin imports and stopKoin calls from Robolectric tests
  android/sdk/src/test/java/com/noctuagames/sdk/models/AdjustModelRobolectricTest.kt
  android/sdk/src/test/java/com/noctuagames/sdk/presenter/NoctuaPresenterRobolectricTest.kt
  android/sdk/src/test/java/com/noctuagames/sdk/repositories/AccountRepositoryRobolectricTest.kt
  android/sdk/src/test/java/com/noctuagames/sdk/services/BillingServiceRobolectricTest.kt
  android/sdk/src/test/java/com/noctuagames/sdk/utils/UtilsRobolectricTest.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

fix(android): restore koin-core test dep and stopKoin teardown for Robolectric tests
  android/gradle/libs.versions.toml
  android/sdk/build.gradle.kts
  android/sdk/src/test/java/com/noctuagames/sdk/models/AdjustModelRobolectricTest.kt
  android/sdk/src/test/java/com/noctuagames/sdk/presenter/NoctuaPresenterRobolectricTest.kt
  android/sdk/src/test/java/com/noctuagames/sdk/repositories/AccountRepositoryRobolectricTest.kt
  android/sdk/src/test/java/com/noctuagames/sdk/services/BillingServiceRobolectricTest.kt
  android/sdk/src/test/java/com/noctuagames/sdk/utils/UtilsRobolectricTest.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

bump version to 0.32.1 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

bump version to 0.37.0 [skip ci]
  NoctuaSDK.podspec
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.37.0
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

Release android-sdk-v0.32.1
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

chore(android): revert adjust-android-huawei-referrer to 5.0.0
  android/gradle/libs.versions.toml
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

fix(android): use reflection to stop Koin between Robolectric tests
  android/gradle/libs.versions.toml
  android/sdk/build.gradle.kts
  android/sdk/src/test/java/com/noctuagames/sdk/models/AdjustModelRobolectricTest.kt
  android/sdk/src/test/java/com/noctuagames/sdk/presenter/NoctuaPresenterRobolectricTest.kt
  android/sdk/src/test/java/com/noctuagames/sdk/repositories/AccountRepositoryRobolectricTest.kt
  android/sdk/src/test/java/com/noctuagames/sdk/services/BillingServiceRobolectricTest.kt
  android/sdk/src/test/java/com/noctuagames/sdk/utils/UtilsRobolectricTest.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

chore(android): bump version to 0.33.0
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

bump version to 0.32.2 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.32.2
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

correct(ci): improve changelog header text
  cliff.toml
Due: none

feat(ci): make bump-android manual, release-android/ios auto
  .gitlab-ci.yml
Due: none

chore(ci): add Improvements section to changelog (improve/perf/refactor)
  cliff.toml
Due: none

docs: add squash commit rules to Git Conventions in CLAUDE.md
  CLAUDE.md
Due: none

docs(ci): add commit type rules and correct: type for non-bug corrections
  CLAUDE.md
  cliff.toml
Due: none

correct(ci): skip fix(ci)/feat(ci) and other internal scopes from changelog
  CLAUDE.md
  cliff.toml
Due: none

correct(ci): fix semver bump rules — docs/test no longer trigger patch
  CLAUDE.md
  cliff.toml
Due: none

fix(ci): wrap sed commands in YAML single quotes to avoid colon parsing error
  .gitlab-ci.yml
Due: none

feat(ci): run iOS pipeline after Android publish completes
  .gitlab-ci.yml
Due: none

chore(ci): add cliff.toml and auto-update BuildInfoProvider on version bump
  .gitlab-ci.yml
  cliff.toml
Due: none

fix(ci): fix YAML error — collapse multi-line sed commands to single line
  .gitlab-ci.yml
Due: none

feat: add Adjust device info getters to iOS and Android SDK
  android/app/src/main/java/com/noctuagames/app/MainActivity.kt
  android/app/src/main/java/com/noctuagames/app/ui/components/AttributionSection.kt
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
  android/sdk/src/main/java/com/noctuagames/sdk/presenter/NoctuaPresenter.kt
  android/sdk/src/main/java/com/noctuagames/sdk/services/AdjustService.kt
  android/sdk/src/test/java/com/noctuagames/sdk/presenter/NoctuaPresenterRobolectricTest.kt
  ios/NoctuaSDK/Sources/Noctua.swift
  ios/NoctuaSDK/Sources/Presenter/SessionPresenter.swift
  ios/NoctuaSDK/Sources/Protocol/AdjustSpecificProtocol.swift
  ios/NoctuaSDK/Sources/Service/AdjustService.swift
  ios/NoctuaSDKExample/NoctuaSDKExample/Components/TrackingSection.swift
  ios/NoctuaSDKTests/Mocks/MockAdjustSpecific.swift
  ios/NoctuaSDKTests/Presenter/SessionPresenterTests.swift
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, bump-version-ios-sdk, publish-ios-sdk, build-android-sdk

correct(ci): simplify changelog header — remove semver rule explanation
  android/CHANGELOG.md
  cliff.toml
  ios/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, bump-version-ios-sdk, publish-ios-sdk

docs: regenerate changelogs with updated cliff.toml rules
  android/CHANGELOG.md
  ios/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, bump-version-ios-sdk, publish-ios-sdk

correct(ci): restore emojis and scopes in changelog sections
  android/CHANGELOG.md
  cliff.toml
  ios/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, bump-version-ios-sdk, publish-ios-sdk

docs: regenerate changelogs with emoji sections
  android/CHANGELOG.md
  ios/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, bump-version-ios-sdk, publish-ios-sdk

bump version to 0.33.0 [skip ci]
  android/sdk/src/main/java/com/noctuagames/sdk/inspector/BuildInfoProvider.kt
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

Release android-sdk-v0.33.0
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

bump version to 0.38.0 [skip ci]
  NoctuaSDK.podspec
  ios/NoctuaSDK/Sources/Inspector/BuildInfoProvider.swift
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.38.0
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

feat: thread host sandbox override into init + couple third-party trackers
  NoctuaSDK.podspec
  android/app/src/main/assets/noctuagg.json
  android/app/src/main/java/com/noctuagames/app/MainActivity.kt
  android/gradle/libs.versions.toml
  android/sdk/build.gradle.kts
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
  android/sdk/src/main/java/com/noctuagames/sdk/presenter/NoctuaPresenter.kt
  android/sdk/src/main/java/com/noctuagames/sdk/services/AdjustService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/services/FacebookService.kt
  android/sdk/src/test/java/com/noctuagames/sdk/inspector/NoctuaInspectorBusTest.kt
  android/sdk/src/test/java/com/noctuagames/sdk/presenter/NoctuaPresenterTest.kt
  android/sdk/src/test/java/com/noctuagames/sdk/utils/NoctuaLogTest.kt
  ios/NoctuaSDK/Sources/Noctua.swift
  ios/NoctuaSDK/Sources/Protocol/NoctuaInternalServiceProtocol.swift
  ios/NoctuaSDK/Sources/Service/AdjustService.swift
  ios/NoctuaSDK/Sources/Service/FacebookService.swift
  ios/NoctuaSDK/Sources/Service/NoctuaInternalService.swift
  ios/NoctuaSDKExample/NoctuaSDKExample.xcodeproj/project.pbxproj
  ios/NoctuaSDKExample/NoctuaSDKExample/NoctuaSDKExampleApp.swift
  ios/NoctuaSDKExample/NoctuaSDKExample/noctuagg.json
  ios/NoctuaSDKTests/Inspector/NoctuaInspectorBusTests.swift
  ios/NoctuaSDKTests/Mocks/MockNoctuaInternalService.swift
  ios/NoctuaSDKTests/NoctuaPublicAPITests.swift
  ios/NoctuaSDKTests/Service/CurrencyQueryServiceTests.swift
  ios/Podfile.lock
  scripts/coverage_gate.py
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, bump-version-ios-sdk, publish-ios-sdk, build-android-sdk

test: de-flake StoreKit1 entitlement-fallback test for CI
  ios/NoctuaSDKTests/Service/StoreKit1ServiceTests.swift
Due: bump-version-ios-sdk, publish-ios-sdk

bump version to 0.34.0 [skip ci]
  android/sdk/src/main/java/com/noctuagames/sdk/inspector/BuildInfoProvider.kt
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

Release android-sdk-v0.34.0
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

bump version to 0.39.0 [skip ci]
  NoctuaSDK.podspec
  ios/NoctuaSDK/Sources/Inspector/BuildInfoProvider.swift
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.39.0
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

chore(android/ios): upgrade to AGP 9, Gradle 9.4.1, and related dependencies
  .gitlab-ci.yml
  NoctuaSDK.podspec
  Package.swift
  android/app/build.gradle.kts
  android/build.gradle.kts
  android/gradle.properties
  android/gradle/libs.versions.toml
  android/gradle/wrapper/gradle-wrapper.properties
  android/sdk/build.gradle.kts
  ios/NoctuaSDKExample/NoctuaSDKExample.xcodeproj/project.pbxproj
  ios/Podfile.lock
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, bump-version-ios-sdk, publish-ios-sdk, build-android-sdk

Path conditions:
  test-android-sdk: any of: android/**/*
  bump-version-android-sdk: any of: android/**/*
  deploy-android-sdk: any of: android/**/*
  publish-android-sdk: (any of: android/**/*) or (any of: gitlab-ci.yml, android/sdk/**/*)
  bump-version-ios-sdk: any of: ios/**/*, NoctuaSDK.podspec
  publish-ios-sdk: any of: ios/**/*, NoctuaSDK.podspec
  build-android-sdk: any of: gitlab-ci.yml, android/sdk/**/*
