Repository NoctuaLabs/noctua-native-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, bump-version-ios-sdk, publish-ios-sdk, build-android-sdk

Path conditions:
  test-android-sdk: any of: android/**/*
  bump-version-android-sdk: any of: android/**/*
  deploy-android-sdk: any of: android/**/*
  publish-android-sdk: (any of: android/**/*) or (any of: gitlab-ci.yml, android/sdk/**/*)
  bump-version-ios-sdk: any of: ios/**/*, NoctuaSDK.podspec
  publish-ios-sdk: any of: ios/**/*, NoctuaSDK.podspec
  build-android-sdk: any of: gitlab-ci.yml, android/sdk/**/*

Release android-sdk-v0.9.1
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

feat: add support for firebase messaging
  NoctuaSDK.podspec
  ios/NoctuaSDK/Sources/FirebaseService.swift
  ios/NoctuaSDKExample/NoctuaSDKExample/noctuagg.json
  ios/Podfile
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.6.0
  NoctuaSDK.podspec
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

feat: enable FCM from sample app
  ios/NoctuaSDKExample/NoctuaSDKExample/NoctuaSDKExample.entitlements
  ios/NoctuaSDKExample/NoctuaSDKExample/NoctuaSDKExampleApp.swift
  ios/Podfile.lock
Due: bump-version-ios-sdk, publish-ios-sdk

feat: add handler push notification message
  ios/NoctuaSDKExample/NoctuaSDKExample/NoctuaSDKExampleApp.swift
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.7.0
  NoctuaSDK.podspec
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

fix: update related firebase version to 11.6.0
  NoctuaSDK.podspec
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.7.1
  NoctuaSDK.podspec
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

feat: Add onOnline and onOffline API to control Adjust offline mode.
  android/sdk/src/main/java/com/noctuagames/sdk/AdjustService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

feat: Add onOnline and onOffline to support Adjust offline mode.
  ios/NoctuaSDK/Sources/AdjustService.swift
  ios/NoctuaSDK/Sources/Noctua.swift
  ios/NoctuaSDK/Sources/NoctuaPlugin.swift
  ios/NoctuaSDKExample/NoctuaSDKExample.xcodeproj/project.pbxproj
  ios/Podfile.lock
  ios/README.md
Due: bump-version-ios-sdk, publish-ios-sdk

fix: Add missing onOffline wrapper.
  ios/NoctuaSDK/Sources/Noctua.swift
Due: bump-version-ios-sdk, publish-ios-sdk

doc: Add comments.
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

bump version to 0.10.0 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.10.0
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

feat: Add onOnline and onOffline method to control Adjust offline mode.
  ios/NoctuaSDK/Sources/Noctua.swift
  ios/NoctuaSDK/Sources/NoctuaPlugin.swift
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.8.0
  NoctuaSDK.podspec
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

feat: Add onOnline and onOffline method to control Adjust offline mode.
  ios/NoctuaSDK/Sources/Noctua.swift
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.9.0
  NoctuaSDK.podspec
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

fix: Do not pull after checkout as it is already the latest since the fetch.
  .gitlab-ci.yml
  android/README.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

bump version to 0.10.1 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.10.1
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

feat: Add onOnline and onOffline method to control Adjust offline mode .
  ios/NoctuaSDK/Sources/NoctuaPlugin.swift
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.10.0
  NoctuaSDK.podspec
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

feat: Add onOnline and onOffline method to control Adjust offline mode .
  .gitlab-ci.yml
  ios/NoctuaSDK/Sources/NoctuaPlugin.swift
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.11.0
  NoctuaSDK.podspec
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.12.0
  NoctuaSDK.podspec
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

fix: update version 0.12.1
  NoctuaSDK.podspec
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.12.1
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

feat: Add feature flag to disable config in IOS.
  ios/NoctuaSDK/Sources/NoctuaService.swift
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.13.0
  NoctuaSDK.podspec
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

fix: Unwrap before check for empty.
  ios/NoctuaSDK/Sources/NoctuaService.swift
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.13.1
  NoctuaSDK.podspec
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

fix: warning from Xcode linter.
  ios/NoctuaSDK/Sources/NoctuaService.swift
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.13.2
  NoctuaSDK.podspec
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

Release
  NoctuaSDK.podspec
Due: bump-version-ios-sdk, publish-ios-sdk

Release 0.13.5
  NoctuaSDK.podspec
Due: bump-version-ios-sdk, publish-ios-sdk

fix: handle modularization iap
  ios/NoctuaSDK/Sources/NoctuaService.swift
  ios/NoctuaSDKExample/NoctuaSDKExample/noctuagg.json
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.13.3
  NoctuaSDK.podspec
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk
