Repository NoctuaLabs/noctua-native-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, bump-version-ios-sdk, publish-ios-sdk, build-android-sdk

test-android-sdk:
  image: cimg/android:2024.07.1
  stage: test
  script:
  - cd android
  - ./gradlew check

bump-version-android-sdk:
  image:
    name: alpine/git
    entrypoint:
    - ''
  before_script:
  - apk add git-cliff
  - git config --global user.email "gitlab-ci@noctua.gg"
  - git config --global user.name "Noctua Gitlab CI"
  stage: bump-version
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: 0
  script:
  - cd android
  ...

deploy-android-sdk:
  image: cimg/android:2024.07.1
  stage: deploy
  script:
  - git checkout $CI_COMMIT_BRANCH
  - cd android
  - ./gradlew :sdk:publishMavenPublicationToGitLabRepository

publish-android-sdk:
  image: cimg/android:2024.07.1
  stage: publish
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: 0
  script:
  - cd android
  - git fetch --tags
  - git checkout $CI_COMMIT_BRANCH
  - git pull
  - ./gradlew :sdk:publishAndReleaseToMavenCentral
  ...

bump-version-ios-sdk:
  image:
    name: alpine/git
    entrypoint:
    - ''
  before_script:
  - apk add git-cliff
  - git config --global user.email "gitlab-ci@noctua.gg"
  - git config --global user.name "Noctua Gitlab CI"
  stage: bump-version
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: 0
  script:
  - cd ios
  ...

publish-ios-sdk:
  stage: publish
  tags:
  - macmini
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: 0
  script:
  - cd ios
  - git fetch --tags
  - git checkout $CI_COMMIT_BRANCH
  - git pull
  - git clean -dxf
  - wget "https://github.com/orhun/git-cliff/releases/download/v2.4.0/git-cliff-2.4.0-x86_64-unknown-linux-gnu.tar.gz"
  ...

build-android-sdk:
  image: gitlab.com/evosverse/noctua/dependency_proxy/containers/cimg/android:2024.07.1
  before_script:
  - chmod +x gradlew
  stage: build
  script:
  - cd android
  - gradle :sdk:build

Release android-sdk-v0.25.5
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

fix: adjust attribution is not working properly in unity
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

bump version to 0.25.6 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.25.6
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

refactor: implement mvp design pattern
  android/app/src/main/assets/noctuagg.json
  android/app/src/main/java/com/noctuagames/app/MainActivity.kt
  android/sdk/src/main/AndroidManifest.xml
  android/sdk/src/main/java/com/noctuagames/sdk/AdjustService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
  android/sdk/src/main/java/com/noctuagames/sdk/models/AccountModel.kt
  android/sdk/src/main/java/com/noctuagames/sdk/models/AdjustModel.kt
  android/sdk/src/main/java/com/noctuagames/sdk/models/FacebookModel.kt
  android/sdk/src/main/java/com/noctuagames/sdk/models/FirebaseModel.kt
  android/sdk/src/main/java/com/noctuagames/sdk/models/NoctuaModel.kt
  android/sdk/src/main/java/com/noctuagames/sdk/platform/AccountContentProvider.kt
  android/sdk/src/main/java/com/noctuagames/sdk/platform/DeviceInfo.java
  android/sdk/src/main/java/com/noctuagames/sdk/presenter/NoctuaPresenter.kt
  android/sdk/src/main/java/com/noctuagames/sdk/repositories/AccountRepository.kt
  android/sdk/src/main/java/com/noctuagames/sdk/services/AdjustService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/services/FacebookService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/services/FirebaseService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/services/NoctuaFirebaseMessagingService.kt
  android/sdk/src/main/java/com/noctuagames/sdk/utils/Utils.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

feat: implement IAP and Subscription
  android/app/build.gradle.kts
  android/app/google-services.json
  android/app/src/main/java/com/noctuagames/app/MainActivity.kt
  android/app/src/main/java/com/noctuagames/app/ui/components/AccountSection.kt
  android/app/src/main/java/com/noctuagames/app/ui/components/ActionButton.kt
  android/app/src/main/java/com/noctuagames/app/ui/components/AnalyticsSection.kt
  android/app/src/main/java/com/noctuagames/app/ui/components/AttributionSection.kt
  android/app/src/main/java/com/noctuagames/app/ui/components/BillingSection.kt
  android/app/src/main/java/com/noctuagames/app/ui/components/ExperimentsSection.kt
  android/app/src/main/java/com/noctuagames/app/ui/components/FirebaseIdsSection.kt
  android/app/src/main/java/com/noctuagames/app/ui/components/LifecycleSection.kt
  android/app/src/main/java/com/noctuagames/app/ui/components/RemoteConfigSection.kt
  android/app/src/main/java/com/noctuagames/app/ui/components/SectionCard.kt
  android/app/src/main/java/com/noctuagames/app/ui/components/SessionInfoCard.kt
  android/app/src/main/java/com/noctuagames/app/ui/components/TestingSection.kt
  android/app/src/main/java/com/noctuagames/app/ui/theme/Color.kt
  android/app/src/main/java/com/noctuagames/app/ui/theme/Theme.kt
  android/app/src/main/java/com/noctuagames/app/ui/theme/Type.kt
  android/gradle/libs.versions.toml
  android/sdk/build.gradle.kts
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
  android/sdk/src/main/java/com/noctuagames/sdk/models/BillingModel.kt
  android/sdk/src/main/java/com/noctuagames/sdk/presenter/NoctuaPresenter.kt
  android/sdk/src/main/java/com/noctuagames/sdk/services/BillingService.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

misc: bump version code manually
  android/NoctuaNativeSDK.keystore
  android/app/build.gradle.kts
  android/app/google-services.json
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

refactor(ios): restructure SDK to MVP architecture
  ios/NoctuaSDK/Sources/API/Noctua.swift
  ios/NoctuaSDK/Sources/Errors.swift
  ios/NoctuaSDK/Sources/Model/Account.swift
  ios/NoctuaSDK/Sources/Model/CompletionCallback.swift
  ios/NoctuaSDK/Sources/Model/NoctuaConfig.swift
  ios/NoctuaSDK/Sources/Model/NoctuaError.swift
  ios/NoctuaSDK/Sources/Noctua.swift
  ios/NoctuaSDK/Sources/NoctuaPlugin.swift
  ios/NoctuaSDK/Sources/Platform/IOSLogger.swift
  ios/NoctuaSDK/Sources/Presenter/AccountPresenter.swift
  ios/NoctuaSDK/Sources/Presenter/IAPPresenter.swift
  ios/NoctuaSDK/Sources/Presenter/SessionPresenter.swift
  ios/NoctuaSDK/Sources/Presenter/TrackerPresenter.swift
  ios/NoctuaSDK/Sources/Protocol/AccountRepositoryProtocol.swift
  ios/NoctuaSDK/Sources/Protocol/AdjustSpecificProtocol.swift
  ios/NoctuaSDK/Sources/Protocol/FirebaseQueryServiceProtocol.swift
  ios/NoctuaSDK/Sources/Protocol/IAPServiceProtocol.swift
  ios/NoctuaSDK/Sources/Protocol/NoctuaInternalServiceProtocol.swift
  ios/NoctuaSDK/Sources/Protocol/NoctuaLogger.swift
  ios/NoctuaSDK/Sources/Protocol/TrackerServiceProtocol.swift
  ios/NoctuaSDK/Sources/Repository/AccountRepository.swift
  ios/NoctuaSDK/Sources/Service/AdjustService.swift
  ios/NoctuaSDK/Sources/Service/FacebookService.swift
  ios/NoctuaSDK/Sources/Service/FirebaseService.swift
  ios/NoctuaSDK/Sources/Service/NoctuaInternalService.swift
  ios/NoctuaSDK/Sources/Service/NoctuaService.swift
  ios/NoctuaSDKExample/NoctuaSDKExample.xcworkspace/contents.xcworkspacedata
  ios/Podfile.lock
Due: bump-version-ios-sdk, publish-ios-sdk

feat(ios): add StoreKit 2 billing with legacy fallback and split example app into components
  .gitignore
  ios/NoctuaSDK/Sources/API/Noctua.swift
  ios/NoctuaSDK/Sources/Model/CompletionCallback.swift
  ios/NoctuaSDK/Sources/Model/NoctuaConfig.swift
  ios/NoctuaSDK/Sources/Model/StoreKitModel.swift
  ios/NoctuaSDK/Sources/Presenter/IAPPresenter.swift
  ios/NoctuaSDK/Sources/Presenter/StoreKitPresenter.swift
  ios/NoctuaSDK/Sources/Protocol/IAPServiceProtocol.swift
  ios/NoctuaSDK/Sources/Protocol/StoreKitEventListenerProtocol.swift
  ios/NoctuaSDK/Sources/Protocol/StoreKitServiceProtocol.swift
  ios/NoctuaSDK/Sources/Service/NoctuaService.swift
  ios/NoctuaSDK/Sources/Service/StoreKitLegacyService.swift
  ios/NoctuaSDK/Sources/Service/StoreKitService.swift
  ios/NoctuaSDKExample/NoctuaSDKExample.xcodeproj/project.pbxproj
  ios/NoctuaSDKExample/NoctuaSDKExample/Components/AccountSection.swift
  ios/NoctuaSDKExample/NoctuaSDKExample/Components/OtherSection.swift
  ios/NoctuaSDKExample/NoctuaSDKExample/Components/SectionCard.swift
  ios/NoctuaSDKExample/NoctuaSDKExample/Components/SharedStyles.swift
  ios/NoctuaSDKExample/NoctuaSDKExample/Components/StoreKitSection.swift
  ios/NoctuaSDKExample/NoctuaSDKExample/Components/TrackingSection.swift
  ios/NoctuaSDKExample/NoctuaSDKExample/ContentView.swift
Due: bump-version-ios-sdk, publish-ios-sdk

feat: add per-row event storage methods and sample app demo
  android/app/src/main/java/com/noctuagames/app/MainActivity.kt
  android/app/src/main/java/com/noctuagames/app/ui/components/TestingSection.kt
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
  android/sdk/src/main/java/com/noctuagames/sdk/presenter/NoctuaPresenter.kt
  ios/NoctuaSDK/Sources/Noctua.swift
  ios/NoctuaSDK/Sources/Presenter/SessionPresenter.swift
  ios/NoctuaSDK/Sources/Protocol/NoctuaInternalServiceProtocol.swift
  ios/NoctuaSDK/Sources/Service/NoctuaInternalService.swift
  ios/NoctuaSDKExample/NoctuaSDKExample/Components/OtherSection.swift
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, bump-version-ios-sdk, publish-ios-sdk, build-android-sdk

chore: bump noctua-internal-native to 0.13.0
  android/gradle/libs.versions.toml
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

bump version to 0.26.0 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.26.0
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

feat(ios): implement all missing SDK APIs in sample app
  NoctuaSDK.podspec
  ios/NoctuaSDK/Sources/Service/NoctuaInternalService.swift
  ios/NoctuaSDKExample/NoctuaSDKExample.xcodeproj/project.pbxproj
  ios/NoctuaSDKExample/NoctuaSDKExample/Components/AccountSection.swift
  ios/NoctuaSDKExample/NoctuaSDKExample/Components/EventStorageSection.swift
  ios/NoctuaSDKExample/NoctuaSDKExample/Components/FirebaseSection.swift
  ios/NoctuaSDKExample/NoctuaSDKExample/Components/LifecycleSection.swift
  ios/NoctuaSDKExample/NoctuaSDKExample/Components/OtherSection.swift
  ios/NoctuaSDKExample/NoctuaSDKExample/Components/SessionSection.swift
  ios/NoctuaSDKExample/NoctuaSDKExample/Components/StoreKitSection.swift
  ios/NoctuaSDKExample/NoctuaSDKExample/ContentView.swift
  ios/Podfile.lock
Due: bump-version-ios-sdk, publish-ios-sdk

feat(ios): merge main-icm dependency upgrades into MVP architecture
  NoctuaSDK.podspec
  ios/NoctuaSDK/Sources/Model/NoctuaConfig.swift
  ios/NoctuaSDK/Sources/Noctua.swift
  ios/NoctuaSDK/Sources/Presenter/SessionPresenter.swift
  ios/NoctuaSDK/Sources/Protocol/AdjustSpecificProtocol.swift
  ios/NoctuaSDK/Sources/Service/AdjustService.swift
  ios/NoctuaSDK/Sources/Service/FacebookService.swift
  ios/NoctuaSDK/Sources/Service/StoreKitLegacyService.swift
  ios/NoctuaSDKExample/NoctuaSDKExample.xcodeproj/project.pbxproj
  ios/NoctuaSDKExample/NoctuaSDKExample/Components/FirebaseSection.swift
  ios/NoctuaSDKExample/NoctuaSDKExample/Components/SessionSection.swift
  ios/NoctuaSDKExample/NoctuaSDKExample/Components/TrackingSection.swift
  ios/Podfile
  ios/Podfile.lock
Due: bump-version-ios-sdk, publish-ios-sdk

feat(ios): add getActiveCurrency API and iapDisabled config flag
  ios/NoctuaSDK/Sources/Model/NoctuaConfig.swift
  ios/NoctuaSDK/Sources/Noctua.swift
  ios/NoctuaSDK/Sources/Service/CurrencyQueryService.swift
  ios/NoctuaSDKExample/NoctuaSDKExample.xcodeproj/project.pbxproj
  ios/NoctuaSDKExample/NoctuaSDKExample/Components/StoreKitSection.swift
Due: bump-version-ios-sdk, publish-ios-sdk

fix(ios): dispatch getActiveCurrency callbacks on main thread
  ios/NoctuaSDK/Sources/Service/CurrencyQueryService.swift
Due: bump-version-ios-sdk, publish-ios-sdk

ci: restore git-cliff auto version bumping for iOS SDK
  .gitlab-ci.yml
Due: none

Release ios-sdk-v0.28.0
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

feat(ios): add verifyPurchasesOnServer param, fix Firebase custom event params, enable iapDisabled in example
  ios/NoctuaSDK/Sources/Noctua.swift
  ios/NoctuaSDK/Sources/Service/FirebaseService.swift
  ios/NoctuaSDKExample/NoctuaSDKExample/noctuagg.json
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.29.0
  NoctuaSDK.podspec
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

feat(ios): add comprehensive unit tests for NoctuaSDK (159 tests, 88% testable coverage)
  ios/NoctuaSDK/Sources/Noctua.swift
  ios/NoctuaSDKExample/NoctuaSDKExample.xcodeproj/project.pbxproj
  ios/NoctuaSDKExample/NoctuaSDKExample.xcodeproj/xcshareddata/xcschemes/NoctuaSDKTests.xcscheme
  ios/NoctuaSDKTests/Helpers/TestHelpers.swift
  ios/NoctuaSDKTests/Mocks/MockAccountRepository.swift
  ios/NoctuaSDKTests/Mocks/MockAdjustSpecific.swift
  ios/NoctuaSDKTests/Mocks/MockFirebaseQueryService.swift
  ios/NoctuaSDKTests/Mocks/MockNoctuaInternalService.swift
  ios/NoctuaSDKTests/Mocks/MockNoctuaLogger.swift
  ios/NoctuaSDKTests/Mocks/MockStoreKitService.swift
  ios/NoctuaSDKTests/Mocks/MockTrackerService.swift
  ios/NoctuaSDKTests/Model/AccountModelTests.swift
  ios/NoctuaSDKTests/Model/NoctuaConfigTests.swift
  ios/NoctuaSDKTests/Model/NoctuaErrorTests.swift
  ios/NoctuaSDKTests/Model/StoreKitModelTests.swift
  ios/NoctuaSDKTests/NoctuaPublicAPITests.swift
  ios/NoctuaSDKTests/Presenter/AccountPresenterTests.swift
  ios/NoctuaSDKTests/Presenter/SessionPresenterTests.swift
  ios/NoctuaSDKTests/Presenter/StoreKitPresenterTests.swift
  ios/NoctuaSDKTests/Presenter/TrackerPresenterTests.swift
  ios/NoctuaSDKTests/Resources/noctuagg_empty_clientid.json
  ios/NoctuaSDKTests/Resources/noctuagg_invalid.json
  ios/NoctuaSDKTests/Resources/noctuagg_valid.json
  ios/NoctuaSDKTests/Service/CurrencyQueryServiceTests.swift
  ios/Podfile
  ios/Podfile.lock
Due: bump-version-ios-sdk, publish-ios-sdk

chore(ios): re-enable IAP in example app config (iapDisabled: false)
  ios/NoctuaSDKExample/NoctuaSDKExample/noctuagg.json
Due: bump-version-ios-sdk, publish-ios-sdk

fix: ensure getActiveCurrency always invokes callback to prevent Unity from hanging
  ios/NoctuaSDK/Sources/Noctua.swift
  ios/NoctuaSDK/Sources/NoctuaPlugin.swift
  ios/NoctuaSDK/Sources/NoctuaService.swift
Due: bump-version-ios-sdk, publish-ios-sdk

chore: bump podspec version to 0.27.2
  NoctuaSDK.podspec
Due: bump-version-ios-sdk, publish-ios-sdk

feat: add expiryTime field to purchase status models (iOS populated, Android=0)
  android/sdk/src/main/java/com/noctuagames/sdk/models/BillingModel.kt
  android/sdk/src/main/java/com/noctuagames/sdk/services/BillingService.kt
  ios/NoctuaSDK/Sources/Model/StoreKitModel.swift
  ios/NoctuaSDK/Sources/Service/StoreKitService.swift
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, bump-version-ios-sdk, publish-ios-sdk, build-android-sdk

bump version to 0.27.0 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.27.0
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release ios-sdk-v0.30.0
  NoctuaSDK.podspec
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

fix: use appStoreReceiptURL for receipt data instead of jsonRepresentation
  ios/NoctuaSDK/Sources/Model/StoreKitModel.swift
  ios/NoctuaSDK/Sources/Service/StoreKitService.swift
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.30.1
  NoctuaSDK.podspec
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

feat: add StoreKit 1 support with SK1/SK2 switching
  CLAUDE.md
  ios/NoctuaSDK/Sources/Noctua.swift
  ios/NoctuaSDK/Sources/Service/StoreKit1Service.swift
  ios/NoctuaSDKExample/NoctuaSDKExample.xcodeproj/project.pbxproj
  ios/NoctuaSDKTests/Mocks/MockPaymentQueue.swift
  ios/NoctuaSDKTests/Mocks/MockSKPaymentTransaction.swift
  ios/NoctuaSDKTests/Service/StoreKit1ServiceTests.swift
  ios/Podfile.lock
Due: bump-version-ios-sdk, publish-ios-sdk

ci: add iOS unit tests on MR, fix GitHub release tag push
  .gitlab-ci.yml
Due: none

fix: superclass must appear first in MockSKProductsResponse inheritance
  ios/NoctuaSDKTests/Service/StoreKit1ServiceTests.swift
Due: bump-version-ios-sdk, publish-ios-sdk

Release ios-sdk-v0.31.0
  NoctuaSDK.podspec
  ios/CHANGELOG.md
Due: bump-version-ios-sdk, publish-ios-sdk

fix(ci): authenticate git push to GitHub with access token
  .gitlab-ci.yml
Due: none

fix: add BillingEventListener overload to avoid Function1 type erasure
  android/sdk/src/main/java/com/noctuagames/sdk/Noctua.kt
  android/sdk/src/main/java/com/noctuagames/sdk/presenter/NoctuaPresenter.kt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk, build-android-sdk

bump version to 0.27.1 [skip ci]
  android/version.txt
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Release android-sdk-v0.27.1
  android/CHANGELOG.md
Due: test-android-sdk, bump-version-android-sdk, deploy-android-sdk, publish-android-sdk

Path conditions:
  test-android-sdk: any of: android/**/*
  bump-version-android-sdk: any of: android/**/*
  deploy-android-sdk: any of: android/**/*
  publish-android-sdk: (any of: android/**/*) or (any of: gitlab-ci.yml, android/sdk/**/*)
  bump-version-ios-sdk: any of: ios/**/*, NoctuaSDK.podspec
  publish-ios-sdk: any of: ios/**/*, NoctuaSDK.podspec
  build-android-sdk: any of: gitlab-ci.yml, android/sdk/**/*
